                        <!-- WYŚWIETLANIE ZADAŃ -->
                        <div id="jobShow">
                                <div class="tab-pane fade show " role="tabpanel" >
                                  <div class="row asset-name">
                                    <div class="col text-center">
                                        <h2>nazwa: <%=job.Nazwa%></h2>
                                    </div>
                                  </div>
                                  <hr>
    
                                  <div class="row">
                                    <div class="col text-center">
                                      <form action="deleteJob" method="POST">
    
                                        <input type="hidden" name="jobIdShow" value="<%=job.IdZadanie%>">
    
                                          <button type="button" class="btn btn-light actionButtons"
                                          onclick="jobEditShow()"><i
                                          class="fa fa-edit " data-toggle="tooltip" data-placement="top"
                                          title="Edytuj to zadanie"></i>
                                          </button>
    
                                          <button type="submit" class="btn btn-danger actionButtons" data-toggle="tooltip" data-placement="top"
                                          title="Usuń to zadanie"><i class="fas fa-trash-alt"></i></button>
                                      </form>
    
                                    </div>
                                  </div>
    
                                  <div class="row">
                                    <div class="col text-center">
                                      <form action="jobDone" method="POST">
                                          <input type="hidden" name="jobIdShow" value="<%=job.IdZadanie%>">
                                          <%if(job.Status == 2){%>
                                            <button type="submit" onclick="completeEffect()" id="startConfetti" class="btn btn-success actionButtons" disabled><i class="fas fa-check"></i> Oznacz jako wykonane</button>
                                          <%}else{%>
                                        <button type="submit" onclick="completeEffect()" id="startConfetti" class="btn btn-success actionButtons"><i class="fas fa-check"></i> Oznacz jako wykonane</button>
                                            <%}%>
                                      </form>
                                    </div>
                                  </div>
    
    
                                  <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                                      <h3>Priorytet zadania:</h3>
                                      <%if(job.Priorytet == 1){%>
                                        Niski
                                      <%}%>
                                      <%if(job.Priorytet == 2){%>
                                         Średni
                                      <%}%>
                                      <%if(job.Priorytet == 3){%>
                                        Wysoki
                                      <%}%>
                                  </div>
    
                                  <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                                      <h3>Status zadania:</h3>
                                      <%if(job.Status == 1){%>
                                        W trakcie realizacji
                                      <%}%>
                                      <%if(job.Status == 2){%>
                                        Zadanie zakończone
                                      <%}%>
                                      <%if(job.Status == 3){%>
                                        Zadanie nie rozpoczęte
                                      <%}%>
                                  </div>
    
                                  <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                                    <h3>Data realizacji</h3>
                                    <%= job.DataRealizacji %>
                                  </div>
    
                                  <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                                    <h3>Opis</h3>
                                    <% if(job.Opis == ""){ %>
                                      Brak opisu
                                    <% }else{ %>
                                    <%= job.Opis %>
                                    <%}%>
                                  </div>
    
                                  <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                                      <h3>Zadanie przypisane do:</h3>
                                      <% for(var i=0; i < workers.length; i++) { %>
                                        <% if(workers[i].IdPracownik == job.IdPracownik){ %>
                                          <%= workers[i].Imie %> <%= workers[i].Nazwisko %>
                                        <% } %>
                                      <%}%>
                                    </div>
                                </div>
                              </div>
    
                          <!-- EDYTOWANIE zadania -->
                              <div id="jobEdit">
                                <div class="tab-pane fade show " role="tabpanel" >
                                    <div class="row asset-name">
                                        <div class="col text-center">
                                            <h2>Edycja zadania</h2>
                                        </div>
                                      </div>
                                      <hr>
                                      <form action="editJob" method="POST">
                                      <div class="form-group row">
                                          <label for="jobEditName" class="col-sm-2 col-form-label">Nazwa:</label>
                                          <div class="col-sm-10">
                                            <input type="text" class="form-control addAssets" name="jobEditName" id="jobEditName" value="<%=job.Nazwa%>">
                                          </div>
                                      </div>
    
                                      <div class="form-group row">
                                          <label for="jobEditPriority" class="col-sm-2 col-form-label">Priorytet:</label>
                                          <div class="col-sm-10">
                                              <% for(var i=0; i < priority.length; i++) { %>
                                                <%if(priority[i].IdPriorytet == job.Priorytet){%>
                                                  <label class="radio-inline"><input type="radio" name="jobEditPriority" value="<%=priority[i].IdPriorytet%>" checked><%=priority[i].Nazwa%></label>
                                                <%}else{%>
                                                  <label class="radio-inline"><input type="radio" name="jobEditPriority" value="<%=priority[i].IdPriorytet%>"><%=priority[i].Nazwa%></label>
                                              <%}%>
                                              <%}%>
                                          </div>
                                      </div>
    
    
                                      <div class="form-group row">
                                          <label for="jobEditStatus" class="col-sm-2 col-form-label">Status:</label>
                                          <div class="col-sm-10">
                                              <% for(var i=0; i < statuses.length; i++) { %>
                                                <%if(statuses[i].IdStatus == job.Status){%>
                                                  <label class="radio-inline"><input type="radio" name="jobEditStatus" value="<%=statuses[i].IdStatus%>" checked><%=statuses[i].Nazwa%></label>
                                                <%}else{%>
                                                  <label class="radio-inline"><input type="radio" name="jobEditStatus" value="<%=statuses[i].IdStatus%>"><%=statuses[i].Nazwa%></label>
                                              <%}%>
                                              <%}%>
                                          </div>
                                      </div>
    
                                      <div class="form-group row">
                                          <label for="jobEditDescription" class="col-sm-2 col-form-label">Opis:</label>
                                          <div class="col-sm-10">
                                              <textarea class="form-control addAssets" rows="10" id="jobEditDescription" name="jobEditDescription" placeholder="Opis" value="<%=job.Opis%>"></textarea>
                                          </div>
                                      </div>
    
                                      <div class="form-group row">
                                          <label for="jobEditDescription" class="col-sm-2 col-form-label">Data realizacji:</label>
                                          <div class="col-sm-10">
                                              <input type="date" class="form-control addAssets" name="jobEditDate" id="jobEditDate" value="<%= job.DataRealizacji %>">
                                          </div>
                                      </div>
    
                                      <div class="form-group row">
                                      <label for="jobEditDescription" class="col-sm-2 col-form-label">Przypisany pracownik:</label>
                                      <div class="col-sm-10">
                                      <select class="form-control addAssets" placeholder="Pracownik" name="jobEditWorker" id="jobEditWorker">
                                            <% for(var i=0; i < workers.length; i++) { %>
                                              <%if(workers[i].IdPracownik == job.IdPracownik){%>
                                                <option value="<%=workers[i].IdPracownik%>" selected><%=workers[i].Imie %> <%=workers[i].Nazwisko %></option>
    
                                              <%}else{%>
                                              <option value="<%=workers[i].IdPracownik%>"><%=workers[i].Imie %> <%=workers[i].Nazwisko %></option>
                                            <%}%>
                                            <%}%>
                                        </select>
                                      </div>
                                    </div>
    
                                    <input type="hidden" value="<%=job.IdZadanie%>" name="jobEditId">
                                    <div class="row">
                                        <div class="col text-center">
                                          <button type="button" class="btn btn-danger" onclick="jobEditHideShowJob()"><i class="fas fa-times"></i> Anuluj</button>
                                          <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>                        
                                        </div>
                                      </div>
                                    </form>
                                </div>
                              </div>