    <!-- EDYTOWANIE UZYTKOWNIKA -->
    <div id="edit">
            <div class="tab-pane fade show " role="tabpanel">
              <div class="row asset-name">
                <div class="col text-center">
                  <h2>Edytowanie pracownika</h2>
                  <p>Podaj nowe dane</p>
                </div>
              </div>
              <div class="tab-pane fade show " role="tabpanel">
                  <div class="row">
                    <div class="col-md">
                      <div class="row">
                        <div class="col-lg-12 text-center">
                          <p><b>Dane pracownika</b></p>
                        </div>
                      </div>
                      
                      <form enctype="multipart/form-data" action="editHr" method="POST">
                      <input type="hidden" name="idEdit" value="<%=workerInfo.IdPracownik %>">
                      <input type="hidden" name="idAgree" value="<%=agreeInfo.IdUmowy %>">
                        <input type="text" class="form-control addAssets" id="firstNameEdit" name="firstNameEdit" value="<%=workerInfo.Imie %>" placeholder="Imię" required>
                        <input type="text" class="form-control addAssets" id="lastNameEdit" name="lastNameEdit" value="<%=workerInfo.Nazwisko %>" placeholder="Nazwisko" required>
                        <input type="number" class="form-control addAssets" id="telephoneEdit" name="telephoneEdit" value="<%=workerInfo.NumerTelefonu %>" placeholder="Numer telefonu" required>
                        <input type="email" class="form-control addAssets" id="emailEdit" name="emailEdit" value="<%=workerInfo.Email %>" placeholder="Email" required>
                        <select class="form-control addAssets" placeholder="Przełożony" id="superior" name="superiorEdit" required>
                            <option value="0">Brak przełożonego</option>
                          <% for(var i=0; i < workers.length; i++) { %>
                            <% if(workerInfo.IdPrzelozony == workers[i].IdPracownik){%>
                              <option value="<%=workers[i].IdPracownik %>" selected><%= workers[i].Imie %> <%= workers[i].Nazwisko %></option>
                              <%}else%>
                            <% if(workerInfo.IdPracownik == workers[i].IdPracownik){}else if (!(workerInfo.IdPrzelozony == workers[i].IdPracownik)){ %>
                              <option value="<%=workers[i].IdPracownik %>"><%= workers[i].Imie %> <%= workers[i].Nazwisko %></option>
                          <%}%>
                          <%}%>
                        </select>
                        <div class="row">
                          <div class="col-lg-12 text-center">
                            <p>Stanowisko: </p>
                            <%if(analitOrProgram == "programmer"){%>
                              <label class="radio-inline"><input type="radio" id="programmerEdit" value="1" name="positionEdit" checked>Programista</label>
                              <label class="radio-inline"><input type="radio" id="analiticEdit" value="0" name="positionEdit">Analityk</label>
                              <% for(var a=0; a < programmers.length; a++) { %>
                                <%if (programmers[a].IdPracownik == workerInfo.IdPracownik && programmers[a].IdSpecjalizacja != null) {%>
                                  <% for(var c=0; c<spec.length; c++){ %>
                                      <%if (spec[c].IdSpecjalizacja == programmers[a].IdSpecjalizacja){ %>
                                        <input type="text" id="languagesEdit" name="languagesEdit" class="form-control addAssets" value="<%= programmers[a].Jezyki %>" placeholder="Wpisz języki programowania, oddzielone przecinkiem" required>
                                      <% } %>
                                  <% } %>
                                 <% } %>
                              <% } %>
                              
                              <input type="text" id="certsEdit" name="certsEdit" class="form-control addAssets" placeholder="Wpisz najważniejsze certyfikaty, oddzielone przecinkiem" style="display: none">
                            <% }else{ %>
                              <label class="radio-inline"><input type="radio" value="0" id="programmerEdit" name="positionEdit">Programista</label>
                              <label class="radio-inline"><input type="radio" value="1" id="analiticEdit" name="positionEdit" checked>Analityk</label>
                              <% for(var b=0; b < analit.length; b++) { %>
                                <%if (analit[b].IdPracownik == workerInfo.IdPracownik && analit[b].IdSpecjalizacja != null) {%>
                                  <% for(var c=0; c<spec.length; c++){ %>
                                    <%if (spec[c].IdSpecjalizacja == analit[b].IdSpecjalizacja){ %>
                                        <input type="text" id="certsEdit" name="certsEdit" class="form-control addAssets" value="<%= analit[b].Certyfikaty %>" placeholder="Wpisz najważniejsze certyfikaty, oddzielone przecinkiem" required>
                                      <% } %>
                                  <% } %>
                                 <% } %>
                              <% } %>
                              <input type="text" id="languagesEdit" name="languagesEdit" class="form-control addAssets" placeholder="Wpisz języki programowania, oddzielone przecinkiem" style="display: none">
                              
                            <% } %>                            
                          </div>
                        </div>

                        
                        <select class="form-control addAssets" placeholder="Firma" name="specEdit" id="specEdit" required>
                            <option value="" selected disabled>Wybierz specjalizację</option>
                            <% for(var i=0; i < spec.length; i++) { %>
                              <% if(currSpec == spec[i].IdSpecjalizacja){%>
                                <option value="<%=spec[i].IdSpecjalizacja %>" selected><%=spec[i].Nazwa %></option>
                              <%}else{%>
                              <option value="<%=spec[i].IdSpecjalizacja %>"><%=spec[i].Nazwa %></option>
                            <%}%>
                            <%}%>
                        </select>
                    </div> 
                    <div class="col-md">
                      <div class="row">
                        <div class="col-lg-12 text-center">
                          <p><b>Dane umowy</b></p>
                        </div>
                      </div>
                        
                        <p>Data rozpoczęcia zatrudnienia: </p>
                        <input type="date" class="form-control addAssets" name="startDateEdit" value="<%=agreeInfo.DataRozpoczecia %>" placeholder="Data rozpoczęcia" required>
                        <p>Data końca zatrudnienia: </p>
                        <input type="date" class="form-control addAssets" name="endDateEdit" value="<%=agreeInfo.DataZakonczenia %>" placeholder="Data rozpoczęcia" required>
                        <input type="number" class="form-control addAssets" name="lumpSumEdit" value="<%=agreeInfo.StawkaRyczalt %>" placeholder="Stawka ryczałt">
                        <input type="number" class="form-control addAssets" name="hourlyRateEdit" value="<%=agreeInfo.StawkaGodzinowa %>" placeholder="Stawka godzinowa">
                        
                        <div class="row">
                          <div class='col-lg-4'><p>Plik umowy:</p>
                            <button type="button"  onclick="downloadFileEdit()" class="btn btn-success hr-perm"><i class="fa fa-file-download"></i> Pobierz umowę
                            </button>
                          </div>
                          <div class="col-lg-8"><p>Nowy plik umowy:</p>
                              <input type="file" class="form-control addAssets" name="file-to-upload" class="fileInput" id="file-to-upload" accept="application/pdf">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 text-center">
                        <%if(agreeInfo.umowy_b2b != null){ %>
                          <input type="hidden" id="concur" value='<%= agreeMore.ZakazKonkurencji %>'>
                          <input type="hidden" id="company" value='<%= agreeMore.IdFirma %>'>
                          <script>$(document).ready(function () {
                            var x = document.getElementById("concur").value;
                            var y = document.getElementById("company").value;
                            if(x == 1){
                              document.getElementById("1").checked = true;
                            }else{
                              document.getElementById("0").checked = true;
                            }
                            
                            $('#companyB2bEdit').val(y);
                            }); </script>

                          <label class="radio-inline"><input type="radio" name="agreement" id="oPrace" value="1" onclick="agreementViewEdit('<%= agreeMore.WymiarCzasuPracy %>')" id="agreementRadioEdit">Umowa o pracę </label>
                          <label class="radio-inline"><input type="radio" name="agreement" id="zlecenie" value="2" onclick="agreement2ViewEdit()" id="agreement2RadioEdit" >Umowa zlecenie </label>
                          <label class="radio-inline"><input type="radio" name="agreement" id="b2b1" value="3" onclick="agreementB2bViewEdit()" id="b2bRadioEdit" checked>Umowa B2B </label>
                        <% }else if(agreeInfo.umowy_o_prace != null){ %>
                          <input type="hidden" id="wymiar" value='<%= agreeMore.WymiarCzasuPracy %>'>
                          <script>$(document).ready(function () {var x = document.getElementById("wymiar").value; document.getElementById("timeOfContractEdit").value =x }); </script>
                          <label class="radio-inline"><input type="radio" name="agreement" id="oPrace" value="1" onclick="agreementViewEdit('<%= agreeMore.WymiarCzasuPracy %>')" checked>Umowa o pracę </label>
                          <label class="radio-inline"><input type="radio" name="agreement" id="zlecenie" value="2" onclick="agreement2ViewEdit()" id="agreement2RadioEdit">Umowa zlecenie </label>
                          <label class="radio-inline"><input type="radio" name="agreement" id="b2b1" value="3" onclick="agreementB2bViewEdit()" id="b2bRadioEdit">Umowa B2B </label>
                        <% }else if(agreeInfo.umowy_zlecenie != null){ %>
                          <input type="hidden" id="toStudent" value='<%= agreeMore.StatusStudenta %>'>
                          <input type="hidden" id="toZus" value='<%= agreeMore.ZUS %>'>
                          <script>$(document).ready(function () {
                            var y = document.getElementById("toStudent").value;
                            var x = document.getElementById("toZus").value;
                            if(y == 1){
                              document.getElementById("Student").checked = true;
                            }else{
                              document.getElementById("nonStudent").checked = true;
                            }

                            if(x == 1){
                              document.getElementById("zus").checked = true;
                            }else{
                              document.getElementById("nonZus").checked = true;
                            }
                              }); </script>
                          <label class="radio-inline"><input type="radio" name="agreement" id="oPrace" value="1" onclick="agreementViewEdit('<%= agreeMore.WymiarCzasuPracy %>')" id="agreementRadioEdit" >Umowa o pracę </label>
                          <label class="radio-inline"><input type="radio" name="agreement" id="zlecenie" value="2" onclick="agreement2ViewEdit()" id="agreement2RadioEdit" checked>Umowa zlecenie </label>
                          <label class="radio-inline"><input type="radio" name="agreement" id="b2b1" value="3" onclick="agreementB2bViewEdit()" id="b2bRadioEdit">Umowa B2B </label>
                        <% } %>
                      </div>
                    </div>
                        <!-- Optional inputs -->
                        <div id="agreementEdit"> <!-- umowa o prace is checked-->
                          <input type="number" class="form-control addAssets" id="timeOfContractEdit" placeholder="Wymiar czasu" id="timeOfContractEdit" name="timeOfContractEdit">
                        </div>
                        <div id="agreement2Edit" class="text-center"> <!-- umowa zlecenie is checked -->
                          <p>Czy jest studentem?</p>
                          <label class="radio-inline"><input type="radio" value="1" id="Student" name="ifStudentEdit" id="ifStudentEdit">Tak</label>
                          <label class="radio-inline"><input type="radio" value="0" id="nonStudent" name="ifStudentEdit">Nie</label>
      
                          <p>Czy obowiazuje ZUS?</p>
                          <label class="radio-inline"><input type="radio" value="1" id="zus" name="ifZusEdit" id="ifZusEdit">Tak</label>
                          <label class="radio-inline"><input type="radio" value="0" id="nonZus" name="ifZusEdit">Nie</label>
                        </div>
                        <div id="b2bEdit" class="text-center">
                          <select class="form-control" placeholder="Firma" name="companyB2bEdit" id="companyB2bEdit" id="companyB2bEdit">
                            <% for(var i=0; i < company.length; i++) { %>
                              <option value="<%=company[i].IdFirma %>"><%=company[i].Nazwa %>, nip: <%=company[i].Nip %></option>
                            <%}%>
                          </select>
                          <button type="button" class="btn btn-warning" onclick="addCompanyView()"><i class="fas fa-plus"></i> Dodaj firmę</button>
      
                          <p>Czy zakaz konkurencji?</p>
                          <label class="radio-inline"><input type="radio" value="1" id="1" name="ifCompetitionEdit" id="ifCompetitionEdit">Tak</label>
                          <label class="radio-inline"><input type="radio" value="0" id="2" name="ifCompetitionEdit">Nie</label>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="button" onclick="cancel()" class="btn btn-danger"><i class="fas fa-times"></i> Anuluj</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>                      
                    </div>
                  </div>

            </div>          
          </form>
          <form id="downloadFileEdit" action="downloadContract" method="POST">
              <input type="hidden" name="fileName" value="<%= workerInfo.PlikUmowy %>">
          </form>
          
                  </div>
                </div>