<% include partials/headerLogin %>
<% include partials/leftNavbar %>

<div class="col-11">
        <%if (normal === true){%>
        <div class="section-assets">
            <div class="border shadow-lg p-3 mb-5 rounded">
                <div class="row asset-name">
                    <div class="col text-center">
                        <h2>Informacje o firmie</h2>
                    </div>
                </div>
                <hr>
            
                <div class="row">
                    <div class="col text-center">
                        <a href="/editCompanyAddProfile"><button type="button" class="btn btn-success" data-toggle="tooltip"
                                data-placement="top" title="Dodaj konto domenowe"><i class="fa fa-user-plus"></i> </button></a>
                        <a href="/editCompanyEdition"><button type="button" class="btn btn-light" data-toggle="tooltip"
                                data-placement="top" title="Edytuj firmę"><i class="fa fa-edit"></i></button></a>
                    </div>
                </div>
            
            
            
                <div class="row">
                    <div class="col-lg-6">
                        <div class="shadow-sm p-3 bg-white rounded">
                            <h2><b>Nazwa firmy: </b></h2>
                            <div class="text-center">
                                <h4><%= company.Nazwa %></h4>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-6">
                        <div class="shadow-sm p-3 bg-white rounded">
                            <h2><b>Adres firmy</b></h2>
                            <div class="text-center">
                                <h4><%= town.Miasto %>
                                    <%= company.Adres %></h4>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shadow-sm p-3 bg-white rounded">
                            <h2><b>NIP:</b></h2>
                            <div class="col text-center">
                                <h4><%= company.Nip %></h4>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
        <% } %>

        <%if (normal === false){%>
            <div class="section-assets">
                <div class="row border shadow-lg p-3 mb-5 rounded">
                    <div class="col-lg-12">

                            <div class="row asset-name">
                                    <div class="col text-center">
                                        <h2>Edycja firmy</h2>
                                    </div>
                                </div>
                                <hr>
                    
                       <form action="/companyEdition" method="POST">

                        <div class="row">
                            <div class="col text-center">
                                <h3><b>Podstawowe informacje</b></h3>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="companyName" class="col-sm-2 col-form-label">Nazwa firmy:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="companyName" placeholder="Nowa nazwa" id="companyName"
                                    value="<%= company.Nazwa %>">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="companyNip" class="col-sm-2 col-form-label">NIP:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="companyNip" placeholder="Nowy NIP" id="companyNip"
                                    value="<%= company.Nip %>">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col text-center">
                                <h3><b>Adres firmy</b></h3>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="companyTown" class="col-sm-2 col-form-label">Miasto:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="companyTown" placeholder="Nowe miasto" id="copmanyTown"
                                    value="<%= town.Miasto %>">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="companyAddress" class="col-sm-2 col-form-label">Adres:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="companyAddress" placeholder="Nowy adres" id="companyAddress"
                                    value="<%= company.Adres %>">
                            </div>
                        </div>
                        
                    <div class="row">
                        <div class="col text-center">
                            <a href="/editCompany"><button type="button" class="btn btn-danger">Anuluj</button></a>
                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>
                        </div>
                    </div>

                    <input type="hidden" name="companyId" value="<%= company.IdFirma %>">
                    </form> 
                </div>
            </div>
        </div>
        <% } %>
</div>

<%if (add === true){%>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h3>Dodaj konto</h3>
            <form action="/addProfile" method="POST">
                <p>Wybierz pracownika, któremu utworzysz konto domenowe</p>
                <select class="form-control createAccount selectWorker input" placeholder="Pracownik" id="worker" name="worker" required>
                    <%if (workers.length < 1){ %>
                        <option>Brak pracowników bez kont</option>
                    <% } else {%>
                        <option>Wybierz pracownika</option>
                    <% } %>
                        <% for(var i=0; i < workers.length; i++) { %>
                          <option value="<%=workers[i].IdPracownik %>"><%= workers[i].Imie %> <%= workers[i].Nazwisko %></option>
                        <%}%>
                </select>
                <input type="text" class="form-control createAccount input" name="login" placeholder="Login" required>
                <input type="password" class="form-control createAccount input" name="password" placeholder="Hasło" required>
                
                <div class="row">
                    <div class="col text-center">
                        <a href="/editCompany"><button type="button" class="btn btn-danger">Anuluj</button></a>
                        <button type="submit" class="btn btn-success continue" disabled>Zapisz</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    
</div>
<% } %>

<%if (userAlreadyExists === true){%>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h3>Uwaga!</h3>
            <p>Użytkownik o takim adresie email i numerze telefonu istnieje!</p>
            <p>Spróbuj podać inne dane.</p>
            <a href="/editCompanyAddProfile"><button type="button" class="btn btn-success">Ok</button></a>
        </div>
    </div>
<% } %>

<%if (addSuccess === true){%>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h3>Sukces!</h3>
            <p>Konto zostało utworzone poprawnie.</p>
            <a href="/editCompany"><button type="button" class="btn btn-success">Ok</button></a>
        </div>
    </div>
<% } %>


<%if (editSuccess === true){%>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h3>Sukces!</h3>
            <p>Dane zostaly zmienione.</p>
            <a href="/editCompany"><button type="button" class="btn btn-success">Ok</button></a>
        </div>
    </div>
<% } %>

<!-- SCRIPT ENGINE -->
<script type="text/javascript" src="scripts/editCompany.js"></script>

<% include partials/footerLogin %>


