<% include partials/headerLogin %>
<% include partials/leftNavbar %>
<!-- SCRIPT ENGINE -->
<script type="text/javascript" src=".js"></script>

<div class="col-lg-11">
    <div class="section-assets">
        <div class="border shadow-lg p-3 mb-5 rounded">
            <div class="row asset-name">
                <div class="col text-center">
                    <h2>Zarządzanie adresami mailowymi</h2>
                    <hr>
                </div>
            </div>

            <div class='row admin-perm'>
                <div class="col-lg-12 text-center">
                    <p>Istniejące adresy email:</p>
                    <div class="table-responsive maxHeight">
                        <% if (emails.length < 1){%>
                            <p>Brak adresów email w systemie.</p>
                        <% }else{ %>
                        <table class="table">

                            <thead>
                                <tr>
                                    <th scope="col">Właściciel</th>
                                    <th scope="col">Adres email</th>
                                    <th scope="col">Alias</th>
                                    <th scope="col">Usuń</th>
                                </tr>
                            </thead>
            
                            <tbody>
                                <% for(var i = 0; i<emails.length; i++){ %>
                                    <% for(var b = 0; b<workers.length; b++){ %>
                                        <% if(workers[b].IdPracownik == emails[i].IdPracownik) {%>
                                            <tr>
                                                <td><%= workers[b].Imie %> <%= workers[b].Nazwisko %></td>
                                                <td><%= emails[i].AdresPocztowy %></td>
                                                <td><%= emails[i].AliasPocztowy %></td>
                                                <td>
                                                    <form action="deleteEmail" method="POST">
                                                        <input type="hidden" name="idEmail" value="<%= emails[i].IdKontoPocztowe %>">
                                                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </tbody>

                        </table>
                        <% } %>
                    </div>
                </div>
            </div>

            <!-- OSTRZEZENIE, ZE ADRES EMAIL ISTNIEJE -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form action="createEmail" method="GET">
                        <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Dodaj adres email</button>                        
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<% include partials/footerLogin %>