<% include partials/headerLogin %>
<% include partials/leftNavbar %>


<div class="col-11">
    <div class="section-assets">
    <div class="row border shadow-lg p-3 mb-5 rounded">
        
      <div class="collapse-button"><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#itemsBar"><i class="fa fa-caret-square-up"></i></button></div>
      <div id="itemsBar" class="col-lg-2 collapse show"> 
        <input type="text" class="form-control search shadow p-3 bg-white rounded" id="search" placeholder="Wyszukaj">
        <ul class="ul">
          <div class="list-group" id="list-tab" role="tablist">
            <% for(var i=0; i < assets.length; i++) { %>
            <li class="list-group-item list-group-item-action shadow-sm p-3 mb-2 rounded" onclick="hide()"
              id="list-<%= assets[i].IdSrodkiTrwale %>-list" data-toggle="list"
              href="#list-<%= assets[i].IdSrodkiTrwale %>" role="tab" aria-controls="<%= assets[i].IdSrodkiTrwale %>">
              <b><%= assets[i].Nazwa %></b> &nbsp;&nbsp;&nbsp;&nbsp; szt.: <%= assets[i].Ilosc %></li>
            <%}%>       
          </div>
        </ul>
        <div class="row">
          <div class="col-lg-2 text-center">
              <button type="button" class="btn btn-success buttonUnderList" onclick="myFunction()"><i class="fa fa-plus-circle"></i> Dodaj przedmiot</button>
          </div>
        </div>
    </div>
    <div class="col-lg-10" >
      <div id="infoPanel">
        <div class="tab-content" id="nav-tabContent">
            <% for(var i=0; i < assets.length; i++) { %>
            <div class="tab-pane fade show " id="list-<%= assets[i].IdSrodkiTrwale %>" role="tabpanel"
              aria-labelledby="list-<%= assets[i].IdSrodkiTrwale %>-list">

              <div class="row asset-name">
                <div class="col text-center">
                    <h2>nazwa: <%= assets[i].Nazwa %></h2>
                </div>
              </div>
              
              <hr>

              <div class="row">
                <div class="col text-center">
              
                  <form action="deleteAsset" method="POST">
                    <button type="button" class="btn btn-light actionButtons"
                      onclick="edit('<%= assets[i].Nazwa %>', '<%= assets[i].Opis %>', '<%= assets[i].Rodzaj %>', '<%= assets[i].WartoscNetto %>', '<%= assets[i].DataZakupu %>', '<%= assets[i].IdSrodkiTrwale %>')"><i
                        class="fa fa-edit" data-toggle="tooltip" data-placement="top"
                        title="Edytuj ten przedmiot"></i>
                    </button>
              
                    <input type="hidden" id="asset" name="asset" value="<%= assets[i].IdSrodkiTrwale %>">
                    <button type="submit" class="btn btn-danger actionButtons" data-toggle="tooltip" data-placement="top"
                      title="Usuń ten przedmiot"><i class="fas fa-trash-alt"></i></button>
                  </form>
              
                </div>
              </div>
              
              <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                <h3>Opis:</h3>
                <%= assets[i].Opis %>
              </div>
              
              <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                  <b>Wartosc netto: </b> <%= assets[i].WartoscNetto %> zł
              </div>

              <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                <b>Data zakupu: </b> <%= assets[i].DataZakupu %>
              </div>

            
          <div class="row ">
            <div class="property shadow-sm p-3 mb-2 bg-white rounded">
              <b>Ilość:</b> <%= assets[i].Ilosc %>
            </div>
          
            <form action="deleteOneAsset" method="POST">
              <input type="hidden" name="asset" value="<%= assets[i].IdSrodkiTrwale %>">
              <button type="submit" class="btn btn-outline-danger littleButtons" data-toggle="tooltip" data-placement="top"
                title="Odejmij jedną sztukę"><i class="fa fa-minus"></i></button>
            </form>
            <form action="addOneAsset" method="POST">
              <input type="hidden" name="asset" value="<%= assets[i].IdSrodkiTrwale %>">
              <button type="submit" class="btn btn-outline-success littleButtons" data-toggle="tooltip" data-placement="top"
              title="Dodaj jedną sztukę"><i class="fa fa-plus"></i></button>
            </form>
          </div>

          </div>
            <%}%>
    </div>
  </div>

  <!-- DODAWANIE PRZEDMIOTU -->
  <div id="editPanel">
      <div class="tab-pane fade show " role="tabpanel" >
        <h2>Dodawanie przedmiotu</h2>
        <p>Podaj dane nowego przedmiotu</p>
        <form action="addAsset" method="POST">
        <input type="text" class="form-control addAssets" id="name" name="name" placeholder="Nazwa przedmiotu" required>
        <textarea class="form-control addAssets" rows="10" id="description" name="description" placeholder="Opis"></textarea>
        <input type="text" class="form-control addAssets" id="type" name="type" placeholder="Rodzaj" required>
        <input type="number" class="form-control addAssets" id="price" name="price" placeholder="Wartość netto" required>
        <div class="row">
          <div class="col text-center">
            Data zakupu
          </div>
        </div>
        <input type="date" class="form-control addAssets" id="date" name="date" placeholder="Data zakupu" required>
        <input type="number" class="form-control addAssets" id="amount" name="amount" placeholder="Ilość" required>
        <div class="row">
            <div class="col text-center">
              Osoba odpowiedzialna:
            </div>
          </div>
        <select class="form-control addAssets" placeholder="Właściciel" id="owner" name="owner" required>
          <% for(var i=0; i < users.length; i++) { %>
            <option value="<%=users[i].IdPracownik %>"><%= users[i].Imie %> <%= users[i].Nazwisko %></option>
          <%}%>
        </select>
        <button type="button" onclick="cancel()" class="btn btn-danger">Anuluj</button>
      <button type="submit" class="btn btn-success">Zapisz</button>
      </form>
      </div>
    </div>
    

    <!-- EDYTOWANIE PRZEDMIOTU -->
    <div id="edit">
        <div class="tab-pane fade show " role="tabpanel" >
            
          <div class="row asset-name">
                <div class="col text-center">
                    <h2>Edytowanie przedmiotu</h2>
                    <p>Podaj nowe dane</p>
                </div>
          </div>
    
          <form action="editAsset" method="POST">
              <div class="form-group row">
                  <label for="nameEdit" class="col-sm-2 col-form-label">Nazwa przedmiotu:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control addAssets" id="nameEdit" name="nameEdit" placeholder="Nazwa przedmiotu">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="descriptionEdit" class="col-sm-2 col-form-label">Opis:</label>
                  <div class="col-sm-10">
                    <textarea class="form-control addAssets" rows="10" id="descriptionEdit" name="descriptionEdit" placeholder="Opis"></textarea>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="typeEdit" class="col-sm-2 col-form-label">Rodzaj:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control addAssets" id="typeEdit" name="typeEdit" placeholder="Rodzaj">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="priceEdit" class="col-sm-2 col-form-label">Wartość netto:</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control addAssets" id="priceEdit" name="priceEdit" placeholder="Wartość netto">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="dateEdit" class="col-sm-2 col-form-label">Data zakupu:</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control addAssets" id="dateEdit" name="dateEdit" placeholder="Data zakupu">
                  </div>
              </div>

      

          <input type="hidden" id="idEdit" name="idEdit" value="">

          
          <div class="col text-center">
            <button type="button" onclick="cancel()" class="btn btn-danger">Anuluj</button>
            <button type="submit" class="btn btn-success">Zapisz</button>
          </div>
          
        </form>
        </div>
    </div>

  </div>
</div>
</div>
</div>

<!-- SCRIPT ENGINE -->
<script type="text/javascript" src="scripts/fixedAssets.js"></script>
<% include partials/footerLogin %>