<% include partials/header %>
<% include partials/leftNavbar %>


<div class="col-lg-11">
    <div class="row widgetRow">
        <div class="col-lg-2">
        </div>

        <div class="col-lg-3 widgetColumns">
                <div class="widget shadow-lg bg-white p-3 mb-5 rounded">
                    <div class=" textRow row">
                        <div class="col text-center">
                           <h3>Zadania</h3>
                           <hr>
                           <p>Liczba zakoczonych zada: <%= finishedJobs %></p>
                           <p>Liczba rozpocztych zada: <%= jobsInProgress %></p>
                           <p>Liczba zada oczekujacych: <%=jobsNotStarted%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <form action="production" method="GET">
                                <button type="submit" class="btn btn-info">Przejd藕 do projekt贸w</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-lg-3 widgetColumns">
                <div class="widget  shadow-lg bg-white p-3 mb-5 rounded">
                    <div class="textRow row">
                        <div class="col text-center">
                           <h3>Priorytety</h3>
                           <hr>
                           <%if(highPriority == 0){ %>
                                <p>Brak oczekujcych zada z wysokim priorytetem.</p>
                          <%}else{%>
                                <p>Zadania z wysokim priorytetem, kt贸rych nie zacze: <%= highPriority %></p>
                           <%}%>

                            <%if(mediumPriority == 0){ %>
                                <p>Brak oczekujcych zada ze rednim priorytetem.</p>
                            <%}else{%>
                                <p>Zadania z wysokim priorytetem, kt贸rych nie zacze: <%= mediumPriority %></p>
                            <%}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <form action="production" method="GET">
                                <button type="submit" class="btn btn-info">Przejd藕 do projekt贸w</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-lg-3 widgetColumns">
                <div class="widget  shadow-lg bg-white p-3 mb-5 rounded">
                    <div class="textRow row">
                        <div class="col text-center">
                           <h3>Kalendarz</h3>
                           <hr>
                           <%if(todayJobs == 0){ %>
                             <p>Hurra! Dzisiaj nie ma deadlin贸w. </p>
                           <%}else{%>
                                <p>Liczba zada na dzisiaj: <%= todayJobs %></p>
                            <%}%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <form action="kalendarz" method="GET">
                                <button type="submit" class="btn btn-info">Przejd藕 do kalendarza</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>

    <!-- SCRIPT ENGINE -->
    <script type="text/javascript" src="scripts/home.js"></script>
<% include partials/footer %>