<% include partials/headerLogin %>
<% include partials/leftNavbar %>


<div class="col-11">
  <div class="section-assets">
    <div class="row border">
      <div class="col-md-2">
        <input type="text" class="form-control search" id="search" placeholder="Wyszukaj">
        <ul class="ul">
          <div class="list-group" id="list-tab" role="tablist">
            <% for(var i=0; i < workers.length; i++) { %>
            <li class="list-group-item list-group-item-action" onclick="hide()"
              id="list-<%= workers[i].IdPracownik %>-list" data-toggle="list" href="#list-<%= workers[i].IdPracownik %>"
              role="tab" aria-controls="<%= workers[i].IdPracownik%>">
              <b><%= workers[i].Imie %> <%= workers[i].Nazwisko %> </b> </li>
            <%}%>       
          </div>
        </ul>
        <div class="row">
          <button type="button" class="btn btn-success" onclick="myFunction()">Dodaj pracownika</button>
          <button type="button" class="btn btn-success" onclick="teams()">Zespoly</button>
        </div>
    </div>
<div class="col-md-8" >
    <div id="infoPanel">
    <div class="tab-content" id="nav-tabContent">
        <% for(var i=0; i < workers.length; i++) { %>
            <div class="tab-pane fade show " id="list-<%= workers[i].IdPracownik %>" role="tabpanel"
              aria-labelledby="list-<%= workers[i].IdPracownik %>-list">
              <div class="row asset-name">
                <h2><%= workers[i].Imie %> <%= workers[i].Nazwisko %></h2>
              </div>
              <p>Email: <%= workers[i].Email %></p>
              <p>Numer telefonu:<%= workers[i].NumerTelefonu %></p>
              <p><b>Umowa: </b>
                <%if ( workers[i].PlikUmowy == null) { %>
                <button type="button" class="btn btn-success" disabled><i class="fa fa-file-download"></i> Brak umowy do
                  pobrania</button>
                <% } else{ %>
                <form action="downloadContract" method="POST">
                  <input type="hidden" name="fileName" value="<%= workers[i].PlikUmowy %>">
                  <button type="submit" class="btn btn-success"><i class="fa fa-file-download"></i> Pobierz umowę
                  </button>
                </form>
                <% } %>
              </p>
              <% for(var a=0; a < programmers.length; a++) { %>
                <%if (programmers[a].IdPracownik == workers[i].IdPracownik && programmers[a].IdSpecjalizacja != null) {%>
                  Programista, specjalizacja: <%= programmers[a].IdSpecjalizacja %>
                <% } %> 
                <% } %>
                  <% for(var b=0; b < analit.length; b++) { %>
                    <%if (analit[b].IdPracownik == workers[i].IdPracownik && analit[b].IdSpecjalizacja != null) {%>
                      Analityk, specjalizacja: <%= analit[b].IdSpecjalizacja %>
                    <% } %>
                  <% } %>
              <button type="button" class="btn btn-light"
                onclick="edit('<%= workers[i].Imie %>', '<%= workers[i].Nazwisko %>', '<%= workers[i].Email %>', '<%= workers[i].NumerTelefonu %>', '<%= workers[i].IdPracownik %>')"><i
                  class="fa fa-edit"></i></button>
              <form action="deleteHuman" method="POST">
                <input type="hidden" name="workerId" value="<%= workers[i].IdPracownik %>">
                <button type="submit" class="btn btn-danger">Zwolnij!</button>
              </form>

            </div>
            <% } %>
          </div>
      </div>

      <div id="editPanel">
        <div class="tab-pane fade show " role="tabpanel">
          <div class="container">

            <h2>Dodawanie pracownika</h2>
            <p>Podaj dane nowego pracownika</p>
            <div class="row">
              <div class="col-md">
                <p><b>Dane pracownika</b></p>
                <form enctype="multipart/form-data" action="addHuman" method="POST">
                  <input type="text" class="form-control addAssets" id="name" name="name" placeholder="Imię" required>
                  <input type="text" class="form-control addAssets" id="lastName" name="lastName" placeholder="Nazwisko"
                    required>
                  <input type="number" class="form-control addAssets" id="telephone" name="telephone"
                    placeholder="Numer telefonu" required>
                  <input type="email" class="form-control addAssets" id="email" name="email" placeholder="Email"
                    required>
                  <select class="form-control addAssets" placeholder="Przełożony" id="superior" name="superior" required>
                    <% for(var i=0; i < workers.length; i++) { %>
                    <option value="<%=workers[i].IdPracownik %>"><%= workers[i].Imie %> <%= workers[i].Nazwisko %>
                    </option>
                    <%}%>
                  </select>
                  <p>Stanowisko: </p>
                  <label class="radio-inline"><input type="radio" value="1" name="position">Programista</label>
                  <label class="radio-inline"><input type="radio" value="0" name="position">Analityk</label>
                  <select class="form-control" placeholder="Firma" name="spec" id="spec">
                      <option selected>Wybierz specjalizację</option>
                      <% for(var i=0; i < spec.length; i++) { %>
                        <option value="<%=spec[i].IdSpecjalizacja %>"><%=spec[i].Nazwa %></option>
                      <%}%>
                  </select>
              </div> 
              <div class="col-md">
                  <p><b>Dane umowy</b></p>
                  <p>Data rozpoczęcia zatrudnienia: </p>
                  <input type="date" class="form-control addAssets" name="startDate" placeholder="Data rozpoczęcia">
                  <p>Data końca zatrudnienia: </p>
                  <input type="date" class="form-control addAssets" name="endDate" placeholder="Data rozpoczęcia">
                  <input type="number" class="form-control addAssets" name="lumpSum" placeholder="Stawka ryczałt">
                  <input type="number" class="form-control addAssets" name="hourlyRate" placeholder="Stawka godzinowa">
                  <p>Plik umowy:</p>
                  <input type="file" class="form-control addAssets" name="file-to-upload" class="fileInput" id="file-to-upload" accept="application/pdf">
                  <label class="radio-inline"><input type="radio" name="agreement" value="1" onclick="agreementView()">Umowa o pracę </label>
                  <label class="radio-inline"><input type="radio" name="agreement" value="2" onclick="agreement2View()">Umowa zlecenie </label>
                  <label class="radio-inline"><input type="radio" name="agreement" value="3" onclick="agreementB2bView()">Umowa B2B </label>
                  
                  <!-- Optional inputs -->
                  <div id="agreement"> <!-- umowa o prace is checked-->
                    <input type="number" class="form-control addAssets" id="timeOfContract" placeholder="Wymiar czasu" name="timeOfContract">
                  </div>
                  <div id="agreement2"> <!-- umowa zlecenie is checked -->
                    <p>Czy jest studentem?</p>
                    <label class="radio-inline"><input type="radio" value="1" name="ifStudent">Tak</label>
                    <label class="radio-inline"><input type="radio" value="0" name="ifStudent">Nie</label>

                    <p>Czy obowiazuje ZUS?</p>
                    <label class="radio-inline"><input type="radio" value="1" name="ifZus">Tak</label>
                    <label class="radio-inline"><input type="radio" value="0" name="ifZus">Nie</label>
                  </div>
                  <div id="b2b">
                    <select class="form-control" placeholder="Firma" name="companyB2b" id="companyB2b">
                        <option selected>Wybierz firmę</option>
                      <% for(var i=0; i < company.length; i++) { %>
                        <option value="<%=company[i].IdFirma %>"><%=company[i].Nazwa %>, nip: <%=company[i].Nip %></option>
                      <%}%>
                    </select>
                    <button type="button" class="btn btn-warning" onclick="addCompanyView()">Dodaj firmę</button>

                    <p>Czy zakaz konkurencji?</p>
                    <label class="radio-inline"><input type="radio" value="1" name="ifCompetition">Tak</label>
                    <label class="radio-inline"><input type="radio" value="0" name="ifCompetition">Nie</label>
                  </div>
              </div>
            </div>
        </div>
                  <button type="button" onclick="cancel()" class="btn btn-danger">Anuluj</button>
                  <button type="submit" class="btn btn-success">Zapisz</button>
                </form>
      </div>
    </div>
    
    <div id="edit">
        <div class="tab-pane fade show " role="tabpanel" >
          <h2>Edytowanie pracownika</h2>
          <p>Podaj nowe dane</p>
          <form enctype="multipart/form-data" action="editHr" method="POST">
          <input type="text" class="form-control addAssets" id="firstNameEdit" name="firstNameEdit" placeholder="Imię">
          <input type="text" class="form-control addAssets" id="lastNameEdit" name="lastNameEdit" placeholder="Nazwisko">
          <input type="email" class="form-control addAssets" id="emailEdit" name="emailEdit" placeholder="Email">
          <input type="number" class="form-control addAssets" id="telephoneEdit" name="telephoneEdit" placeholder="Numer telefonu">


          <label class="radio-inline"><input type="radio" value="1" name="positionEdit">Programista</label>
          <label class="radio-inline"><input type="radio" value="0" name="positionEdit">Analityk</label>
          <select class="form-control" placeholder="Firma" name="specEdit" id="spec">
          <option selected>Wybierz specjalizację</option>
            <% for(var i=0; i < spec.length; i++) { %>
          <option value="<%=spec[i].IdSpecjalizacja %>"><%=spec[i].Nazwa %></option>
            <%}%>
            </select>

          <p>Plik z umową:</p>
          <input type="file" class="form-control addAssets" name="file-to-upload" class="fileInput" id="file-to-upload" accept="application/pdf" >
          <input type="hidden" id="idEdit" name="idEdit" value="">
          </select>
          <button type="button" onclick="cancel()" class="btn btn-danger">Anuluj</button>
          <button type="submit" class="btn btn-success">Zapisz</button>
        </form> 
      
        </div>
      </div>

      <div id="teamsManage">
        <div class="tab-pane fade show " role="tabpanel" >
          <h2>Zespoły</h2>
            <button type="button" class="btn btn-success" onclick="addTeamView()">Dodaj nowy zespół</button>
            <div class="list-group-teams" id="list-tab" role="tablist">
              <div class="container">
            <% for(var i=0; i < teams.length; i++) { %>
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse<%=i%>"><%= teams[i].Nazwa %> </a>
                      <i onclick="editTeamView()" class="fa fa-edit"></i>
                    </h4>
                  </div>
                  <div id="collapse<%=i%>" class="panel-collapse collapse">
                      <% for(var a=0; a < teamsMember.length; a++) { %>
                        <% for(var b=0; b < workers.length; b++) { %>
                        <%if (teamsMember[a].IdZespol == teams[i].IdZespol){%>
                          <%if (teamsMember[a].IdPracownik == workers[b].IdPracownik){%>
                          <div class="panel-body"><%= workers[b].Imie %> <%= workers[b].Nazwisko %></div>
                        <%}%>
                        <%}%>
                        <%}%> 
                        <%}%>
                  </div>
                </div>
              </div>
               
            <%}%>     
        </form>
        </div>
      </div>
      </div>
    </div>
    
      <div id="addTeam">
        <div class="tab-pane fade show " role="tabpanel" >
          <h2>Dodaj nowy zespół</h2>
          <p>Podaj dane zespołu</p>
          <form action="addTeam" method="POST">
          <div class="row">
            <div class="column">
              <input type="text" class="form-control addAssets" name="teamName" placeholder="Nazwa zespołu">
            </div>
            <div class="column">
              <p>Wybierz członków zespołu:</p>
              <input type="text" class="form-control searchTeams" id="searchTeams" placeholder="Wyszukaj">
              <ul class="ul">
              <div class="list-group-teams" id="list-tab" role="tablist">
                  <% for(var i=0; i < workers.length; i++) { %>
                    <li class="list-group-item " ><b><input type="checkbox" name="teamsMember" value="<%=workers[i].IdPracownik %>"> <%= workers[i].Imie %> <%= workers[i].Nazwisko %>  </b> </li>
                  <%}%>       
                </div>
               </ul> 
            </div>
          </div>
          <button type="submit" class="btn btn-success">Zapisz</button>
          </form>
        </div>
      </div>

      <div id="editTeam">
        <div class="container">
          <div class="row">
            <div class="col-md">
                <h2>Edycja zespołu</h2>
                <p>Podaj nowe dane zespołu</p>
                
                <form action="editTeams" method="POST">
                  <% for(var i=0; i < teams.length; i++) { %>
                    <%if (teams[i].IdZespol == 25){%>
                      <input type="text" class="form-control addAssets" name="newName" value="<%= teams[i].Nazwa %>">
                      <input type="hidden" name="idTeam" value="25">
                    <% } %>
                  <% } %>
                <button type="button" onclick="editTeamHide();teamsManageView()" class="btn btn-danger">Anuluj</button>
                <button type="submit" class="btn btn-success">Zapisz</button>
                </form>
        
                <form action="deleteFromTeam" method="POST">
                  <div class="list-group-teams" id="list-tab" role="tablist">
                    <% for(var q=0; q < teamsMember.length; q++) { %>
                      <% for(var w=0; w < workers.length; w++) { %>
                        <%if (teamsMember[q].IdZespol == 25){%>
                          <%if (teamsMember[q].IdPracownik == workers[w].IdPracownik){%>
                            <div class="panel-body"><%= workers[w].Imie %> <%= workers[w].Nazwisko %>
                              <input type="checkbox" name="toDelete" value="<%=workers[w].IdPracownik %>">
                              <input type="hidden" value='25' name="idTeam">
                            </div>
                          <%}%>
                        <%}%>
                      <%}%> 
                    <%}%>
                </form>
                <button type="submit" class="btn btn-danger">Usuń</button>
            </div>

            <div class="col-md">
              <p>Dodaj nowych czlonkow zespolu:</p>
              <input type="text" class="form-control searchTeams" id="searchTeams" placeholder="Wyszukaj">
              <ul class="ul">
                <form action="addNewMembers" method="POST">
                  <div class="list-group-teams" id="list-tab" role="tablist">
                    <% for(var i=0; i < workers.length; i++) { %>
                      <li class="list-group-item " ><b><input type="checkbox" name="newMembers" value="<%=workers[i].IdPracownik %>"> <%= workers[i].Imie %> <%= workers[i].Nazwisko %>  </b> </li>
                    <%}%>
                    <input type="hidden" value='25' name="idTeam">       
                  </div>
                  <button type="submit" class="btn btn-danger">Dodaj</button>
                </form>
              </ul> 
            </div>
          </div>
        </div>
      </div>

      
      <div id="addCompany">
      <div id="myModal" class="modal">
        <div class="modal-content">
            <h3>Dodaj firmę</h3>
            <p>Podaj informacje niezbędne do dodania nowej firmy</p>
            
            <form action="addCompany" method="POST">
              <input type="text" class="form-control addAssets" id="nameCompany" name="nameCompany" placeholder="Nazwa">
              <input type="number" class="form-control addAssets" id="nipCompany" name="nipCompany" placeholder="NIP">
              <input type="text" class="form-control addAssets" id="addressCompany" name="addressCompany" placeholder="Adres">
              <input type="text" class="form-control addAssets" id="townCompany" name="townCompany" placeholder="Miasto">
              
              <div class="row">
                <button type="button" class="btn btn-danger" onclick="addCompanyHide()">Anuluj</button>
                <button type="submit" class="btn btn-success">Zapisz</button>
              </div>
              
            </form>
        </div>
        </div>
      </div>

  </div>
</div>
</div>
</div>


<script>
  var addCompany = document.getElementById("addCompany");
  addCompany.style.display = "none";
  var addTeam = document.getElementById("addTeam");
  addTeam.style.display = "none";
  var editTeam = document.getElementById("editTeam");
  editTeam.style.display = "none";


  function addCompanyView() {
    var x = document.getElementById("addCompany");
    x.style.display = "inline";
  }

  function addCompanyHide() {
    var x = document.getElementById("addCompany");
    x.style.display = "none";
  }

  function addTeamHide(){
    var x = document.getElementById("addTeam");
    x.style.display = "none";
  }

  function editTeamHide(){
    var x = document.getElementById("editTeam");
    x.style.display = "none";
  }

  function teamsManageHide(){
    var x = document.getElementById("teamsManage");
    x.style.display = "none";
  }

  function teamsManageView(){
    var x = document.getElementById("teamsManage");
    x.style.display = "block";
  }

  function editTeamView(teamId){
    var x = document.getElementById("editTeam");
    x.style.display = "inline";
    teamsManageHide();
    var dupa =3;
  }

  function addTeamView(){
    var y = document.getElementById("infoPanel");
    var x = document.getElementById("editPanel");
    var z = document.getElementById("edit");
    var a = document.getElementById("teamsManage");
    var b = document.getElementById("addTeam");
    editTeamHide();
    a.style.display = "none";
    z.style.display = "none";
    y.style.display = "none";
    b.style.display = "block";
  }

  function myFunction() {
    var y = document.getElementById("infoPanel");
    var x = document.getElementById("editPanel");
    var z = document.getElementById("edit");
    var a = document.getElementById("teamsManage");
    var b = document.getElementById("addTeam");
    var addCompany = document.getElementById("addCompany");
    hideAgreementB2b();
    hideAgreementInput();
    hideAgreemtnInput2();
    editTeamHide();
    b.style.display = "none";
    a.style.display = "none";
    z.style.display = "none";
    y.style.display = "none";
    addCompany.style.display = "none";

    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }

  }

  function teams() {
    var y = document.getElementById("infoPanel");
    var x = document.getElementById("editPanel");
    var z = document.getElementById("edit");
    var a = document.getElementById("teamsManage");
    var b = document.getElementById("addTeam");
    var addCompany = document.getElementById("addCompany");
    b.style.display = "none";
    z.style.display = "none";
    y.style.display = "none";
    x.style.display = "none";
    addCompany.style.display = "none";
    editTeamHide();
    if (a.style.display === "none") {
      a.style.display = "block";
    } else {
      a.style.display = "none";
    }

  }

  function hide() {
    var edit = document.getElementById("edit");
    var editPanel = document.getElementById("editPanel");
    var infoPanel = document.getElementById("infoPanel");
    var teamManage = document.getElementById("teamsManage");
    var addCompany = document.getElementById("addCompany");
    var b = document.getElementById("addTeam");
    b.style.display = "none";
    editPanel.style.display = "none";
    infoPanel.style.display = "block";
    edit.style.display = "none";
    teamManage.style.display = "none";
    addCompany.style.display = "none";
    editTeamHide();
  }

  function cancel() {
    var z = document.getElementById("edit");
    z.style.display = "none";
    var x = document.getElementById("editPanel");
    x.style.display = "none";
    document.getElementById("name").value = "";
    document.getElementById("description").value = "";
    document.getElementById("type").value = "";
    document.getElementById("price").value = "";
    document.getElementById("date").value = "";
    document.getElementById("owner").value = "";
    var y = document.getElementById("infoPanel");
    y.style.display = "block";
  }

  function edit(firstName, lastName, email, telephone, id) {
    var y = document.getElementById("editPanel");
    y.style.display = "none";

    var z = document.getElementById("infoPanel");
    z.style.display = "none";

    var agreementInput = document.getElementById("agreement");
    agreementInput.style.display = "none";

    document.getElementById("firstNameEdit").value = firstName;
    document.getElementById("lastNameEdit").value = lastName;
    document.getElementById("telephoneEdit").value = telephone;
    document.getElementById("emailEdit").value = email;
    document.getElementById("idEdit").value = id;

    var x = document.getElementById("edit");
    x.style.display = "block";

  }


  function agreementView() {
    hideAgreemtnInput2();
    hideAgreementB2b();
    var inputs = document.getElementById('agreement');
    inputs.style.display = "block";
  }

  function agreement2View() {
    hideAgreementInput();
    hideAgreementB2b();
    var input2 = document.getElementById("agreement2");
    input2.style.display = "block";
  }

  function agreementB2bView() {
    hideAgreementInput();
    hideAgreemtnInput2();
    var input3 = document.getElementById('b2b');
    input3.style.display = "block";
  }

  function hideAgreementB2b() {
    var input3 = document.getElementById('b2b');
    input3.style.display = "none";
  }

  function hideAgreementInput() {
    var inputs = document.getElementById('agreement');
    inputs.style.display = "none";
  }

  function hideAgreemtnInput2() {
    var input2 = document.getElementById("agreement2");
    input2.style.display = "none";
  }

  $(function () {
    $('#search').keyup(function () {
      var current_query = $('#search').val();
      if (current_query !== "") {
        $(".list-group li").hide();
        $(".list-group li").each(function () {
          var current_keyword = $(this).text();
          if (current_keyword.indexOf(current_query) >= 0) {
            $(this).show();
          };
        });
      } else {
        $(".list-group li").show();
      };
    });
  });

  $(function () {
    $('#searchTeams').keyup(function () {
      var current_query = $('#searchTeams').val();
      if (current_query !== "") {
        $(".list-group-teams li").hide();
        $(".list-group-teams li").each(function () {
          var current_keyword = $(this).text();
          if (current_keyword.indexOf(current_query) >= 0) {
            $(this).show();
          };
        });
      } else {
        $(".list-group-teams li").show();
      };
    });
  });


</script>
<% include partials/footerLogin %>