<% include partials/headerLogin %>
<% include partials/leftNavbar %>

<div class="col-11">
  <div class="section-assets ">
    <div class="row border shadow-lg p-3 mb-5 rounded">

      <div class="collapse-button"><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#itemsBar"><i class="fa fa-caret-square-up"></i></button></div>
      <div id="itemsBar" class="col-lg-2 collapse show"> 
        <input type="text" class="form-control search shadow p-3 bg-white rounded" id="searchTeam" placeholder="Wyszukaj">
        <ul class="ul">
          <div class="list-group" id="list-tab" role="tablist">
            <% for(var i=0; i < workers.length; i++) { %>
            <li class="list-group-item list-group-item-action shadow-sm p-3 mb-2 rounded" onclick="hide()"
              id="list-<%= workers[i].IdPracownik %>-list" data-toggle="list" href="#list-<%= workers[i].IdPracownik %>"
              role="tab" aria-controls="<%= workers[i].IdPracownik%>">
              <b><%= workers[i].Imie %> <%= workers[i].Nazwisko %> </b> </li>
            <%}%>       
          </div>
        </ul>
        <div class="row">
          <div class="col text-center">
              <button type="button" id="hr-perm" class="btn btn-success buttonUnderList hr-perm" onclick="myFunction()"><i class="fa fa-plus-circle"></i> Dodaj pracownika</button>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
              <button type="button" class="btn btn-success buttonUnderList" onclick="teams()"><i class="fas fa-users"></i> Zespoly</button>
          </div>
        </div>        
    </div>
<div class="col-lg-10" >
    <div id="infoPanel">
    <div class="tab-content" id="nav-tabContent">
        <% for(var i=0; i < workers.length; i++) { %>
            <div class="tab-pane fade show " id="list-<%= workers[i].IdPracownik %>" role="tabpanel"
              aria-labelledby="list-<%= workers[i].IdPracownik %>-list">

              <div class="row asset-name">
                <div class="col text-center">
                  <h2><%= workers[i].Imie %> <%= workers[i].Nazwisko %></h2>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col text-center">
                  <form action="deleteHuman" method="POST">
                  <button type="button" class="btn btn-light actionButtons hr-perm"
                    onclick="edit('<%= workers[i].Imie %>', '<%= workers[i].Nazwisko %>', '<%= workers[i].Email %>', '<%= workers[i].NumerTelefonu %>', '<%= workers[i].IdPracownik %>')"><i
                      class="fa fa-edit " data-toggle="tooltip" data-placement="top"
                      title="Edytuj informacje o pracowniku"></i></button>
                    <input type="hidden" name="workerId" value="<%= workers[i].IdPracownik %>">
                    <button type="submit" class="btn btn-danger actionButtons hr-perm" data-toggle="tooltip" data-placement="top"
                    title="Usuń tego pracownika"><i class="fas fa-user-minus"></i></button>
                  </form>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                    <i class="fa fa-at fa-2x contactIcon"></i> Email:<a id="p<%=i%>"><%= workers[i].Email %></a>
                    <i class="far fa-copy copyIcon" onclick="copyToClipboard('#p<%=i%>')" data-toggle="tooltip" data-placement="top"
                      title="Kopiuj adres email"></i>
                  </div>
                </div>
              
                <div class="col-lg-6">
                  <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                    <i class="fas fa-mobile fa-2x contactIcon"></i> Numer telefonu: <a
                      id="a<%=i%>"><%= workers[i].NumerTelefonu %></a>
                    <i class="far fa-copy copyIcon" onclick="copyToClipboard('#a<%=i%>')" data-toggle="tooltip" data-placement="top"
                      title="Kopiuj numer telefonu"></i>
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-lg-12">
                  <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                    <h2> <i class="fa fa-file-contract"></i> Informacje o zatrudnieniu:</h2> <br />
                    Pracownik zatrudniony jako 
                    <% for(var a=0; a < programmers.length; a++) { %>
                      <%if (programmers[a].IdPracownik == workers[i].IdPracownik && programmers[a].IdSpecjalizacja != null) {%>
                        programista, specjalizacja: <%= programmers[a].IdSpecjalizacja %>
                      <% } %>
                    <% } %>
                    
                    <% for(var b=0; b < analit.length; b++) { %>
                      <%if (analit[b].IdPracownik == workers[i].IdPracownik && analit[b].IdSpecjalizacja != null) {%>
                        analityk, specjalizacja: <%= analit[b].IdSpecjalizacja %>
                      <% } %>
                    <% } %>
                    
                    <%if ( workers[i].PlikUmowy == null) { %>
                    <button type="button" class="btn btn-success" disabled><i class="fa fa-file-download"></i> Brak umowy do
                      pobrania</button>
                    <% } else{ %>
                    <form action="downloadContract" method="POST">
                      <input type="hidden" name="fileName" value="<%= workers[i].PlikUmowy %>">
                      <button type="submit" class="btn btn-success hr-perm"><i class="fa fa-file-download"></i> Pobierz umowę
                      </button>
                    </form>
                    <% } %>
                    <!-- TODO: informacje o umowie -->
                  </div>
                </div>
              </div>


            </div>
            <% } %>
          </div>
      </div>

      <div id="editPanel">
        <div class="tab-pane fade show " role="tabpanel">
          <div class="container">

            <h2>Dodawanie pracownika</h2>
            <p>Podaj dane nowego pracownika</p>
            <div class="row">
              <div class="col-md">
                <p><b>Dane pracownika</b></p>
                <form enctype="multipart/form-data" action="addHuman" method="POST">
                  <input type="text" class="form-control addAssets" id="name" name="name" placeholder="Imię" required>
                  <input type="text" class="form-control addAssets" id="lastName" name="lastName" placeholder="Nazwisko"
                    required>
                  <input type="number" class="form-control addAssets" id="telephone" name="telephone"
                    placeholder="Numer telefonu" required>
                  <input type="email" class="form-control addAssets" id="email" name="email" placeholder="Email"
                    required>
                  <select class="form-control addAssets" placeholder="Przełożony" id="superior" name="superior" required>
                    <% for(var i=0; i < workers.length; i++) { %>
                    <option value="<%=workers[i].IdPracownik %>"><%= workers[i].Imie %> <%= workers[i].Nazwisko %>
                    </option>
                    <%}%>
                  </select>
                  <p>Stanowisko: </p>
                  <label class="radio-inline"><input type="radio" value="1" name="position">Programista</label>
                  <label class="radio-inline"><input type="radio" value="0" name="position">Analityk</label>
                  <select class="form-control" placeholder="Firma" name="spec" id="spec">
                      <option selected>Wybierz specjalizację</option>
                      <% for(var i=0; i < spec.length; i++) { %>
                        <option value="<%=spec[i].IdSpecjalizacja %>"><%=spec[i].Nazwa %></option>
                      <%}%>
                  </select>
              </div> 
              <div class="col-md">
                  <p><b>Dane umowy</b></p>
                  <p>Data rozpoczęcia zatrudnienia: </p>
                  <input type="date" class="form-control addAssets" name="startDate" placeholder="Data rozpoczęcia">
                  <p>Data końca zatrudnienia: </p>
                  <input type="date" class="form-control addAssets" name="endDate" placeholder="Data rozpoczęcia">
                  <input type="number" class="form-control addAssets" name="lumpSum" placeholder="Stawka ryczałt">
                  <input type="number" class="form-control addAssets" name="hourlyRate" placeholder="Stawka godzinowa">
                  <p>Plik umowy:</p>
                  <input type="file" class="form-control addAssets" name="file-to-upload" class="fileInput" id="file-to-upload" accept="application/pdf">
                  <label class="radio-inline"><input type="radio" name="agreement" value="1" onclick="agreementView()">Umowa o pracę </label>
                  <label class="radio-inline"><input type="radio" name="agreement" value="2" onclick="agreement2View()">Umowa zlecenie </label>
                  <label class="radio-inline"><input type="radio" name="agreement" value="3" onclick="agreementB2bView()">Umowa B2B </label>
                  
                  <!-- Optional inputs -->
                  <div id="agreement"> <!-- umowa o prace is checked-->
                    <input type="number" class="form-control addAssets" id="timeOfContract" placeholder="Wymiar czasu" name="timeOfContract">
                  </div>
                  <div id="agreement2"> <!-- umowa zlecenie is checked -->
                    <p>Czy jest studentem?</p>
                    <label class="radio-inline"><input type="radio" value="1" name="ifStudent">Tak</label>
                    <label class="radio-inline"><input type="radio" value="0" name="ifStudent">Nie</label>

                    <p>Czy obowiazuje ZUS?</p>
                    <label class="radio-inline"><input type="radio" value="1" name="ifZus">Tak</label>
                    <label class="radio-inline"><input type="radio" value="0" name="ifZus">Nie</label>
                  </div>
                  <div id="b2b">
                    <select class="form-control" placeholder="Firma" name="companyB2b" id="companyB2b">
                        <option selected>Wybierz firmę</option>
                      <% for(var i=0; i < company.length; i++) { %>
                        <option value="<%=company[i].IdFirma %>"><%=company[i].Nazwa %>, nip: <%=company[i].Nip %></option>
                      <%}%>
                    </select>
                    <button type="button" class="btn btn-warning" onclick="addCompanyView()">Dodaj firmę</button>

                    <p>Czy zakaz konkurencji?</p>
                    <label class="radio-inline"><input type="radio" value="1" name="ifCompetition">Tak</label>
                    <label class="radio-inline"><input type="radio" value="0" name="ifCompetition">Nie</label>
                  </div>
              </div>
            </div>
        </div>
                  <button type="button" onclick="cancel()" class="btn btn-danger">Anuluj</button>
                  <button type="submit" class="btn btn-success">Zapisz</button>
                </form>
      </div>
    </div>
    
    <!-- EDYTOWANIE UZYTKOWNIKA -->
    <div id="edit">
      <div class="tab-pane fade show " role="tabpanel">
        <div class="row asset-name">
          <div class="col text-center">
            <h2>Edytowanie pracownika</h2>
            <p>Podaj nowe dane</p>
          </div>
        </div>
    
        <form enctype="multipart/form-data" action="editHr" method="POST">
          <div class="form-group row">
            <label for="firstNameEdit" class="col-sm-2 col-form-label">Imię:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control addAssets" id="firstNameEdit" name="firstNameEdit" placeholder="Imię">
            </div>
          </div>
    
          <div class="form-group row">
            <label for="lastNameEdit" class="col-sm-2 col-form-label">Nazwisko:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control addAssets" id="lastNameEdit" name="lastNameEdit"
                placeholder="Nazwisko">
            </div>
          </div>
    
          <div class="form-group row">
            <label for="emailEdit" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control addAssets" id="emailEdit" name="emailEdit" placeholder="Email">
            </div>
          </div>
    
          <div class="form-group row">
            <label for="telephoneEdit" class="col-sm-2 col-form-label">Numer telefonu:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control addAssets" id="telephoneEdit" name="telephoneEdit"
                placeholder="Numer telefonu">
            </div>
          </div>
    
          <div class="form-group row">
            <label for="positionEdit" class="col-sm-2 col-form-label">Stanowisko:</label>
            <div class="col-sm-10">
              <label class="radio-inline"><input type="radio" value="1" name="positionEdit"
                  id="positionEdit">Programista</label>
              <label class="radio-inline"><input type="radio" value="0" name="positionEdit"
                  id="positionEdit">Analityk</label>
            </div>
          </div>
    
          <div class="form-group row">
            <label for="spec" class="col-sm-2 col-form-label">Specjalizacja:</label>
            <div class="col-sm-10">
              <select class="form-control" placeholder="Firma" name="specEdit" id="spec">
                <option selected>Wybierz specjalizację</option>
                <% for(var i=0; i < spec.length; i++) { %>
                <option value="<%=spec[i].IdSpecjalizacja %>"><%=spec[i].Nazwa %></option>
                <%}%>
               </select>
             </div>
          </div>
    
                <!-- <div class="form-group row">
                    <label for="file-to-upload" class="col-sm-2 col-form-label">Plik z umową:</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control addAssets" name="file-to-upload" class="fileInput" id="file-to-upload" accept="application/pdf" >          
                    </div>
                </div> -->
    
              <input type="hidden" id="idEdit" name="idEdit" value="">
    
              <div class="col text-center">
                <button type="button" onclick="cancel()" class="btn btn-danger">Anuluj</button>
                <button type="submit" class="btn btn-success">Zapisz</button>
              </div>
    
            </form> 
            </div>
          </div>

          <!-- ZESPOLY -->
      <div id="teamsManage">
        <div class="tab-pane fade show " role="tabpanel">
          <div class="row asset-name">
            <div class="col text-center">
              <h2>Zarządzanie zespołami</h2>
            </div>
          </div>
          <hr>
      
          <div class="row">
            <div class="col">
              <div class=" property shadow p-3 mb-2 bg-white rounded" id="list-tab" role="tablist">
                <div class="row asset-name">
                  <div class="col text-center">
                    <h2>Wszystkie zespoły</h2>
                  </div>
                </div>
                <div class=" list-group-teams property shadow-sm p-3 mb-5 bg-white rounded">
                  <% for(var i=0; i < teams.length; i++) { %>
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <form action="editTeam" method="POST">
                            <a data-toggle="collapse" href="#collapse<%=i%>" class="unstyledLink"><%= teams[i].Nazwa %> </a>
                            <button type="submit" class="unstyledButton hr-perm"><i class="fa fa-edit"></i></button>
                            <input type="hidden" value="'<%= teams[i].IdZespol %>'" name="idTeamEdit">
                          </form>
                        </h4>
                      </div>
                      <div id="collapse<%=i%>" class="panel-collapse collapse">
                        <% for(var a=0; a < teamsMember.length; a++) { %>
                          <% for(var b=0; b < workers.length; b++) { %>
                            <%if (teamsMember[a].IdZespol == teams[i].IdZespol){%>
                              <%if (teamsMember[a].IdPracownik == workers[b].IdPracownik){%>
                                <div class="panel-body"><%= workers[b].Imie %> <%= workers[b].Nazwisko %></div>
                              <%}%>
                            <%}%>
                          <%}%> 
                        <%}%>
                      </div>
                    </div>
                  </div>
                  <%}%>     
              </form>
      
              </div>
              <button type="button" id="hr-perm" class="btn btn-success hr-perm" onclick="addTeamView()">Dodaj nowy zespół</button>
            </div>
            </div>
            </div>
          </div>
          </div>
    
    <!-- DODAWANIE ZESPOLU -->
      <div id="addTeam">
        <div class="tab-pane fade show " role="tabpanel" >
            <div class="row asset-name">
                <div class="col text-center">
                    <h2>Dodaj nowy zespół</h2>
                    <p>Podaj dane zespołu</p>
                </div>
              </div>
              <hr>
          <form action="addTeam" method="POST">

              <div class="form-group row">
                <label for="teamName" class="col-sm-2 col-form-label">Nazwa zespołu:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control addAssets" id="teamName" name="teamName" placeholder="Nazwa zespołu">
                </div>
              </div>

              
        <p>Wybierz członków zespołu:</p>
          <div class="row">
            <div class="col">
              <div class="property shadow-sm p-3 mb-5 bg-white rounded">
                <input type="text" class="form-control searchTeams" id="searchTeams" placeholder="Wyszukaj">
                  <div class="list-group-teams property shadow-sm p-3 mb-5 bg-white rounded">
                    <ul class="ul">
                      <div class="list-group-teams" id="list-tab" role="tablist">
                        <% for(var i=0; i < workers.length; i++) { %>
                          <li class="list-group-item "><b><input type="checkbox" name="teamsMember"
                          value="<%=workers[i].IdPracownik %>">
                          <%= workers[i].Imie %> <%= workers[i].Nazwisko %> </b> 
                          </li>
                        <%}%>       
                      </div>
                    </ul> 
                  </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
                <button type="button" onclick="newTeamHide(); teamsManageView()" class="btn btn-danger">Anuluj</button>
                <button type="submit" class="btn btn-success"> <i class="fas fa-save"></i> Zapisz</button>
            </div>
          </div>
          
            </form>
          </div>
        </div>
      
      <div id="addCompany">
      <div id="myModal" class="modal">
        <div class="modal-content">
            <h3>Dodaj firmę</h3>
            <p>Podaj informacje niezbędne do dodania nowej firmy</p>
            
            <form action="addCompany" method="POST">
              <input type="text" class="form-control addAssets" id="nameCompany" name="nameCompany" placeholder="Nazwa">
              <input type="number" class="form-control addAssets" id="nipCompany" name="nipCompany" placeholder="NIP">
              <input type="text" class="form-control addAssets" id="addressCompany" name="addressCompany" placeholder="Adres">
              <input type="text" class="form-control addAssets" id="townCompany" name="townCompany" placeholder="Miasto">
              
              <div class="row">
                <button type="button" class="btn btn-danger" onclick="addCompanyHide()">Anuluj</button>
                <button type="submit" class="btn btn-success">Zapisz</button>
              </div>
              
            </form>
        </div>
        </div>
      </div>

  </div>
</div>
</div>
</div>

<!-- SCRIPT ENGINE -->
<script type="text/javascript" src="scripts/HR.js"></script>

<% include partials/footerLogin %>