<% include partials/headerLogin %>
<% include partials/leftNavbar %>


<div class="col-11">
  <div class="section-assets">
    <div class="row border">
      <div class="col-md-2">
        <input type="text" class="form-control search" id="search" placeholder="Wyszukaj">
        <ul class="ul">
          <div class="list-group" id="list-tab" role="tablist">
            <% for(var i=0; i < workers.length; i++) { %>
            <li class="list-group-item list-group-item-action" onclick="hide()"
              id="list-<%= workers[i].IdPracownik %>-list" data-toggle="list" href="#list-<%= workers[i].IdPracownik %>"
              role="tab" aria-controls="<%= workers[i].IdPracownik%>">
              <b><%= workers[i].Imie %> <%= workers[i].Nazwisko %> </b> </li>
            <%}%>       
          </div>
        </ul>
        <div class="row">
          <button type="button" class="btn btn-success" onclick="myFunction()">Dodaj pracownika</button>
          <button type="button" class="btn btn-success" onclick="teams()">Zespoly</button>
        </div>
    </div>
<div class="col-md-8" >
    <div id="infoPanel">
    <div class="tab-content" id="nav-tabContent">
        <% for(var i=0; i < workers.length; i++) { %>
            <div class="tab-pane fade show " id="list-<%= workers[i].IdPracownik %>" role="tabpanel"
              aria-labelledby="list-<%= workers[i].IdPracownik %>-list">
              <div class="row asset-name">
                <h2><%= workers[i].Imie %> <%= workers[i].Nazwisko %></h2>
              </div>
              <p>Email: <%= workers[i].Email %></p>
              <p>Numer telefonu:<%= workers[i].NumerTelefonu %></p>
              <button type="button" class="btn btn-light"
                onclick="edit('<%= workers[i].Imie %>', '<%= workers[i].Nazwisko %>', '<%= workers[i].Email %>', '<%= workers[i].NumerTelefonu %>', '<%= workers[i].IdPracownik %>')"><i
                  class="fa fa-edit"></i></button>
            </div>
            <% } %>
          </div>
      </div>

      <div id="editPanel">
        <div class="tab-pane fade show " role="tabpanel">
          <div class="container">

            <h2>Dodawanie pracownika</h2>
            <p>Podaj dane nowego pracownika</p>
            <div class="row">
              <div class="col-md">
                <p><b>Dane pracownika</b></p>
                <form action="addHuman" method="POST">
                  <input type="text" class="form-control addAssets" id="name" name="name" placeholder="Imię" required>
                  <input type="text" class="form-control addAssets" id="lastName" name="lastName" placeholder="Nazwisko"
                    required>
                  <input type="number" class="form-control addAssets" id="telephone" name="telephone"
                    placeholder="Numer telefonu" required>
                  <input type="email" class="form-control addAssets" id="email" name="email" placeholder="Email"
                    required>
                  <select class="form-control" placeholder="Przełożony" id="superior" name="superior"
                    required>
                    <% for(var i=0; i < workers.length; i++) { %>
                    <option value="<%=workers[i].IdPracownik %>"><%= workers[i].Imie %> <%= workers[i].Nazwisko %></option>
                    <%}%>
                  </select>
              </div> 
              <div class="col-md">
                  <p><b>Dane umowy</b></p>
                  <p>Data rozpoczęcia zatrudnienia: </p>
                  <input type="date" class="form-control addAssets" name="startDate" placeholder="Data rozpoczęcia">
                  <p>Data końca zatrudnienia: </p>
                  <input type="date" class="form-control addAssets" name="endDate" placeholder="Data rozpoczęcia">
                  <input type="number" class="form-control addAssets" name="lumpSum" placeholder="Stawka ryczałt">
                  <input type="number" class="form-control addAssets" name="hourlyRate" placeholder="Stawka godzinowa">
                  <label class="radio-inline"><input type="radio" name="agreement" value="1" onclick="agreementView()">Umowa o pracę </label>
                  <label class="radio-inline"><input type="radio" name="agreement" value="2" onclick="agreement2View()">Umowa zlecenie </label>
                  <label class="radio-inline"><input type="radio" name="agreement" value="3" onclick="agreementB2bView()">Umowa B2B </label>
                  <input type="file" class="form-control addAssets" id="" name="" placeholder="Umowa">
                  <!-- Optional inputs -->
                  <div id="agreement"> <!-- umowa o prace is checked-->
                    <input type="number" class="form-control addAssets" id="timeOfContract" placeholder="Wymiar czasu" name="timeAgreement">
                  </div>
                  <div id="agreement2"> <!-- umowa zlecenie is checked -->
                    <p>Czy jest studentem?</p>
                    <label class="radio-inline"><input type="radio" value="1" name="ifStudent">Tak</label>
                    <label class="radio-inline"><input type="radio" value="0" name="ifStudent">Nie</label>

                    <p>Czy obowiazuje ZUS?</p>
                    <label class="radio-inline"><input type="radio" value="1" name="ifZus">Tak</label>
                    <label class="radio-inline"><input type="radio" value="0" name="ifZus">Nie</label>
                  </div>
                  <div id="b2b">
                    <select class="form-control" placeholder="Firma" id="companyB2b">
                      <% for(var i=0; i < company.length; i++) { %>
                        <option selected>Wybierz firmę</option>
                        <option value="<%=company[i].IdFirma %>"><%=company[i].Nazwa %>, nip: <%=company[i].Nip %></option>
                      <%}%>
                    </select>
                    <button type="button" class="btn btn-warning" onclick="addCompanyView()">Dodaj firmę</button>

                    <p>Czy zakaz konkurencji?</p>
                    <label class="radio-inline"><input type="radio" value="1" name="ifCompetition">Tak</label>
                    <label class="radio-inline"><input type="radio" value="0" name="ifCompetition">Nie</label>
                  </div>
              </div>
            </div>
        </div>
                  <button type="button" onclick="cancel()" class="btn btn-danger">Anuluj</button>
                  <button type="submit" class="btn btn-success">Zapisz</button>
                </form>
      </div>
    </div>
    
    <div id="edit">
        <div class="tab-pane fade show " role="tabpanel" >
          <h2>Edytowanie przedmiotu</h2>
          <p>Podaj nowe dane</p>
          <form action="editHr" method="POST">
          <input type="text" class="form-control addAssets" id="firstNameEdit" name="firstNameEdit" placeholder="Imię">
          <input type="text" class="form-control addAssets" id="lastNameEdit" name="lastNameEdit" placeholder="Nazwisko">
          <input type="email" class="form-control addAssets" id="emailEdit" name="emailEdit" placeholder="Email">
          <input type="number" class="form-control addAssets" id="telephoneEdit" name="telephoneEdit" placeholder="Numer telefonu">
          <input type="hidden" id="idEdit" name="idEdit" value="">
          </select>
          <button type="button" onclick="cancel()" class="btn btn-danger">Anuluj</button>
          <button type="submit" class="btn btn-success">Zapisz</button>
        </form>
        </div>
      </div>

      <div id="teamsManage">
        <div class="tab-pane fade show " role="tabpanel" >
          <h2>Edytowanie przedmiotu</h2>
          <p>Podaj nowe dane</p>
          fff
        </form>
        </div>
      </div>



  </div>
</div>
</div>
</div>


<script>
  function myFunction() {
    var y = document.getElementById("infoPanel");
    var x = document.getElementById("editPanel");
    var z = document.getElementById("edit");
    var a = document.getElementById("teamsManage");
    hideAgreementB2b();
    hideAgreementInput();
    hideAgreemtnInput2();
    a.style.display = "none";
    z.style.display = "none";
    y.style.display = "none";

    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }

  }

  function teams() {
    var y = document.getElementById("infoPanel");
    var x = document.getElementById("editPanel");
    var z = document.getElementById("edit");
    var a = document.getElementById("teamsManage");
    z.style.display = "none";
    y.style.display = "none";
    x.style.display = "none";


    if (a.style.display === "none") {
      a.style.display = "block";
    } else {
      a.style.display = "none";
    }

  }

  function hide() {
    var z = document.getElementById("edit");
    var x = document.getElementById("editPanel");
    var y = document.getElementById("infoPanel");
    var a = document.getElementById("teamsManage");
    x.style.display = "none";
    y.style.display = "block";
    z.style.display = "none";
    a.style.display = "none";
  }

  function cancel() {
    var z = document.getElementById("edit");
    z.style.display = "none";
    var x = document.getElementById("editPanel");
    x.style.display = "none";
    document.getElementById("name").value = "";
    document.getElementById("description").value = "";
    document.getElementById("type").value = "";
    document.getElementById("price").value = "";
    document.getElementById("date").value = "";
    document.getElementById("owner").value = "";
    var y = document.getElementById("infoPanel");
    y.style.display = "block";
  }

  function edit(firstName, lastName, email, telephone, id) {
    var y = document.getElementById("editPanel");
    y.style.display = "none";

    var z = document.getElementById("infoPanel");
    z.style.display = "none";

    var agreementInput = document.getElementById("agreement");
    agreementInput.style.display = "none";

    document.getElementById("firstNameEdit").value = firstName;
    document.getElementById("lastNameEdit").value = lastName;
    document.getElementById("telephoneEdit").value = telephone;
    document.getElementById("emailEdit").value = email;
    document.getElementById("idEdit").value = id;

    var x = document.getElementById("edit");
    x.style.display = "block";

  }


  function agreementView(){
    hideAgreemtnInput2();
    hideAgreementB2b();
    var inputs = document.getElementById('agreement');
    inputs.style.display = "block";
  }

  function agreement2View(){
    hideAgreementInput();
    hideAgreementB2b();
    var input2 = document.getElementById("agreement2");
    input2.style.display = "block";
  }

  function agreementB2bView(){
    hideAgreementInput();
    hideAgreemtnInput2();
    var input3 = document.getElementById('b2b');
    input3.style.display = "block";
  }

  function hideAgreementB2b(){
    var input3 = document.getElementById('b2b');
    input3.style.display = "none";
  }

  function hideAgreementInput(){
    var inputs = document.getElementById('agreement');
    inputs.style.display = "none";
  }

  function hideAgreemtnInput2(){
    var input2 = document.getElementById("agreement2");
    input2.style.display = "none";
  }

  $(function () {
    $('#search').keyup(function () {
      var current_query = $('#search').val();
      if (current_query !== "") {
        $(".list-group li").hide();
        $(".list-group li").each(function () {
          var current_keyword = $(this).text();
          if (current_keyword.indexOf(current_query) >= 0) {
            $(this).show();
          };
        });
      } else {
        $(".list-group li").show();
      };
    });
  });



</script>
<% include partials/footerLogin %>