<% include partials/header %></div>
<% include partials/leftNavbar %>


<div class="col-11">
    <div class="section-assets">
        <div class="row border shadow-lg p-3 mb-5 rounded">
          
                <div class="collapse-button"><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#itemsBar"><i class="fa fa-caret-square-up"></i></button></div>
                <div id="itemsBar" class="col-lg-2 collapse show"> 
                  <input type="text" class="form-control search shadow p-3 bg-white rounded" id="search" placeholder="Wyszukaj">
                  <ul class="ul">
                    <div class="list-group" id="list-tab" role="tablist">
                        <% for(var i=0; i < projects.length; i++) { %>
                      <li class="list-group-item list-group-item-action shadow-sm p-3 mb-2 rounded" onclick="showProjectInfo()"
                        id="list-<%= projects[i].IdProjekt %>-list" data-toggle="list"
                        href="#list-<%= projects[i].IdProjekt %>" role="tab" aria-controls="<%= projects[i].IdProjekt %>">
                        <b><%= projects[i].Nazwa %></b>  </li>
                        <%}%> 
                    </div>
                  </ul>
                  <div class="keepOnBottom">
                  <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-success buttonUnderList hr-perm" onclick="addProjectShow()"><i class="fa fa-plus-circle"></i> Dodaj projekt</button>
                        <button type="button" class="btn btn-success buttonUnderList hr-perm" onclick="addClientShow()"><i class="fa fa-plus-circle"></i> Dodaj klienta</button>
                    </div>
                  </div>
                  </div>
              </div>
              <div class="col-lg-10" >
                <div id="infoPanel">
                  <div class="tab-content" id="nav-tabContent">
                      <% for(var i=0; i < projects.length; i++) { %>
                      <div class="tab-pane fade show " id="list-<%= projects[i].IdProjekt %>" role="tabpanel"
                        aria-labelledby="list-<%= projects[i].IdProjekt %>-list">
          
                        <div class="row asset-name">
                          <div class="col text-center">
                            <h2>nazwa: <%= projects[i].Nazwa %> </h2>
                          </div>
                        </div>
                        
                        <hr>
          
                        <div class="row">
                          <div class="col text-center">
                        
                            <form action="deleteProject" method="POST">
                                <% for(var a=0; a < teamProjects.length; a++) { %>
                                  <% if(teamProjects[a].IdProjekt == projects[i].IdProjekt ){ %>
                                    <% for(var b=0; b < teams.length; b++) { %>
                                      <% if(teamProjects[a].IdZespol == teams[b].IdZespol ){ %>
                                        <button type="button" class="btn btn-light actionButtons hr-perm"
                                        onclick="edit('<%= projects[i].Nazwa %>', '<%= projects[i].Opis %>', '<%= projects[i].DataRozpoczecia %>',
                                        '<%= projects[i].DataZakonczenia %>', '<%= projects[i].IdKlient %>', '<%= projects[i].KategoriaProjektu %>', 
                                        '<%= projects[i].IdProjekt %>', '<%= teams[b].IdZespol %>')"><i
                                        class="fa fa-edit" data-toggle="tooltip" data-placement="top"
                                        title="Edytuj projekt"></i>
                                        </button>
                                      <%}%>
                                    <%}%>
                                  <%}%>
                                <%}%>

                        
                              <input type="hidden" id="project" name="project" value="<%= projects[i].IdProjekt %>">

                              <button type="button" onclick="addJobShow('<%= projects[i].IdProjekt %>')" class="btn btn-success actionButtons" data-toggle="tooltip" data-placement="top"
                              title="Dodaj zadanie"><i class="fas fa-calendar-plus"></i></button>

                              <button type="submit" class="btn btn-danger actionButtons hr-perm" data-toggle="tooltip" data-placement="top"
                                title="Usuń ten projekt"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-lg-8">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                                  <h3>Data rozpoczęcia projektu:</h3>
                                  <%= projects[i].DataRozpoczecia %>
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                                  <h3>Data zakończenia projektu:</h3>
                                  <%= projects[i].DataZakonczenia %>
                                </div>
                              </div>
                            </div>
                        
                            <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                              <h3>Kategoria projektu:</h3>
                              <% for(var a=0; a < category.length; a++) { %>
                              <% if(category[a].IdKategoriaProjektu == projects[i].KategoriaProjektu ){ %>
                              <%= category[a].Nazwa %>
                              <%}%>
                                                    <%}%>
                            </div>
                        
                            <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                              <h3>Zespół przypisany do projektu:</h3>
                              <% for(var a=0; a < teamProjects.length; a++) { %>
                              <% if(teamProjects[a].IdProjekt == projects[i].IdProjekt ){ %>
                              <% for(var b=0; b < teams.length; b++) { %>
                              <% if(teamProjects[a].IdZespol == teams[b].IdZespol ){ %>
                              <%= teams[b].Nazwa %>
                              <%}%>
                              <%}%>
                              <%}%>
                              <%}%>
                            </div>
                        
                            <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                              <h3>Opis:</h3>
                              <%= projects[i].Opis %>
                            </div>
                        
                            <div class="property shadow-sm p-3 mb-2 bg-white rounded">
                              <h3>Klient: </h3>
                              <% for(var a=0; a < clients.length; a++) { %>
                              <% if(clients[a].IdKlient == projects[i].IdKlient ){ %>
                              <%= clients[a].ImiePrzedstawiciela %> <%= clients[a].NazwiskoPrzedstawiciela %>
                              <%}%>
                              <%}%>
                            </div>
                          </div>
                        

                          <div class="col-lg-4">
                            <div class="row">
                              <div class="col text-center">
                                <b>Zadania:</b>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12">
                                <ul class="ul">
                                  <div class="list-group-job" id="list-tab" role="tablist">
                                    <% for(var a=0; a < jobs.length; a++) { %>
                                    <% if(jobs[a].IdProjekt == projects[i].IdProjekt ){ %>
                                      
                                      
                                      <form id="jobForm<%=jobs[a].IdZadanie%>" action="viewJob" method="POST">
                                      <li onclick="submitForm('jobForm<%=jobs[a].IdZadanie%>')" class="list-group-item "><b>
                                        <input type="hidden" name="jobId" value="<%= jobs[a].IdZadanie %>">
                                        <%= jobs[a].Nazwa %>

                                        <%if(jobs[a].Priorytet == 1){%>
                                          <i class="fa fa-flag jobPriorityLow" data-toggle="tooltip" data-placement="top"
                                          title="Priorytet niski"></i>
                                        <%}%>
                                        <%if(jobs[a].Priorytet == 2){%>
                                          <i class="fa fa-flag jobPriorityMedium" data-toggle="tooltip" data-placement="top"
                                          title="Priorytet średni"></i>
                                        <%}%>
                                        <%if(jobs[a].Priorytet == 3){%>
                                          <i class="fa fa-flag jobPriorityHigh" data-toggle="tooltip" data-placement="top"
                                          title="Priorytet wysoki"></i>
                                        <%}%>

                                      
                                      <%if(jobs[a].Status == 1){%>
                                        <i class="fa fa-dot-circle jobInProgress" data-toggle="tooltip" data-placement="top"
                                        title="W realizacji"></i>
                                      <%}%>
                                      <%if(jobs[a].Status == 2){%>
                                        <i class="fas fa-circle jobFinished" data-toggle="tooltip" data-placement="top"
                                        title="Zrealizowane"></i>
                                      <%}%>
                                      <%if(jobs[a].Status == 3){%>
                                        <i class="far fa-circle jobNotStarted" data-toggle="tooltip" data-placement="top"
                                        title="Przed realizacją"></i>
                                      <%}%>
                                      
                                      </b> </li>
                                    </form>
                                    <%}%>
                                    <%}%>
                                  </div>
                                </ul>
                              </div>
                            </div>
                            
                           </div>
                      </div>
                    </div>
                    <%}%>
              </div>
            </div>
              
          

            <!-- DODAWANIE PROJEKTU -->
                <div id="addProject">
                  <div class="tab-pane fade show " role="tabpanel" >
                    <div class="row asset-name">
                        <div class="col text-center">
                          <form action="addProject" method="POST">
                            <h2>Dodawanie projektu</h2>
                            <input type="text" class="form-control formItem" id="projectName" name="projectName" placeholder="Nazwa projektu" required>
                            <select class="form-control formItem" placeholder="Klient" name="client" id="client" required>
                              <option value="" selected disabled>Wybierz klienta</option>
                                  <% for(var i=0; i < clients.length; i++) { %>
                                    <option value="<%=clients[i].IdKlient %>"><%=clients[i].ImiePrzedstawiciela %> <%=clients[i].NazwiskoPrzedstawiciela %></option>
                                  <%}%>
                            </select>
                            <div class="row">
                              <div class="col-lg-10">
                                  <select class="form-control formItem" placeholder="Kategoria projektu" name="category" id="category" required>
                                      <option value="" selected disabled>Wybierz kategorię projektu</option>
                                        <% for(var i=0; i < category.length; i++) { %>
                                          <option value="<%=category[i].IdKategoriaProjektu %>"><%=category[i].Nazwa %></option>
                                        <%}%>
                                  </select>
                              </div>
                              <div class="col-lg-2">
                                <button type="button" class="btn btn-success" onclick="addCategoryShow()"><i class="fas fa-plus"></i> Dodaj kategorię</button>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col text-center">
                                Założony czas trwania projektu:
                              </div>
                            </div>
                            <div class="row formItem">
                              <div class="col-lg-6">
                                Od:
                                <input class="form-control addAsset" type="date" id="dateFrom" name="dateFrom" required>
                              </div>
                              <div class="col-lg-6">
                                Do:
                                <input class="form-control addAsset" type="date" id="dateTo" name="dateTo" required>
                              </div>
                            </div>

                            <select class="form-control formItem" placeholder="Zespół" name="team" id="team" required>
                                <option value="" selected disabled>Wybierz zespół</option>
                              <% for(var i=0; i < teams.length; i++) { %>
                                    <option value="<%=teams[i].IdZespol%>"><%=teams[i].Nazwa %></option>
                                  <%}%>
                            </select>
                            <textarea class="form-control formItem" rows="10" id="description" name="description" placeholder="Opis" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-danger" onclick="addProjectHide()"><i class="fas fa-times"></i> Anuluj</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>                        
                      </div>
                    </form>
                    </div>
                    </div>
                </div>
            


            <!-- EDYTOWANIE PROJEKTU -->
            
            <div id="editProject">
                <div class="tab-pane fade show " role="tabpanel" >
                  <div class="row asset-name">
                    <div class="col text-center">
                        <h2>Edytowanie projektu</h2>
                        <p>Podaj nowe dane</p>
                    </div>
                  </div>
                  <form action="editProject" method="POST">
                      <div class="form-group row">
                          <label for="nameEdit" class="col-sm-2 col-form-label">Nazwa projektu:</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control formItem" id="nameEdit" name="nameEdit" placeholder="Nazwa przedmiotu" required>
                          </div>
                      </div>

                      <input type="hidden" id="projectIdEdit" name="projectIdEdit" value="">
                      <input type="hidden" id="oldTeamId" name="oldTeamId" value="">
                  
                      <div class="form-group row">
                          <label for="categoryEdit" class="col-sm-2 col-form-label">Kategoria projektu:</label>
                          <div class="col-sm-10">
                              <select class="form-control formItem" placeholder="Kategoria projektu" name="categoryEdit" id="categoryEdit" required>
                                    <% for(var i=0; i < category.length; i++) { %>
                                        <option value="<%=category[i].IdKategoriaProjektu %>" ><%=category[i].Nazwa %></option>
                                    <%}%>
                              </select>                            
                          </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-lg-6">
                          Od:
                          <input class="form-control formItem" type="date" id="dateFromEdit" name="dateFromEdit" required>
                        </div>
                        <div class="col-lg-6">
                          Do:
                          <input class="form-control formItem" type="date" id="dateToEdit" name="dateToEdit" required>
                        </div>
                      </div>

                      <div class="form-group row">
                          <label for="clientEdit" class="col-sm-2 col-form-label">Klient: </label>
                          <div class="col-sm-10">
                          <select class="form-control formItem" placeholder="Klient" name="clientEdit" id="clientEdit" required>
                              <% for(var i=0; i < clients.length; i++) { %>
                                <option value="<%=clients[i].IdKlient %>"><%=clients[i].ImiePrzedstawiciela %> <%=clients[i].NazwiskoPrzedstawiciela %></option>
                              <%}%>
                            </select>
                          </div>
                      </div>

                      <div class="form-group row">
                        <label for="teamEdit" class="col-sm-2 col-form-label">Przypisany zespół: </label>
                        <div class="col-sm-10">
                          <select class="form-control formItem" placeholder="Zespół" name="teamEdit" id="teamEdit" required>
                              <% for(var i=0; i < teams.length; i++) { %>
                                <option value="<%=teams[i].IdZespol%>"><%=teams[i].Nazwa %></option>
                              <%}%>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row">
                          <label for="teamEdit" class="col-sm-2 col-form-label">Opis: </label>
                          <div class="col-sm-10">
                              <textarea class="form-control formItem" rows="10" id="descriptionEdit" name="descriptionEdit" placeholder="Opis" required></textarea>
                          </div>
                      </div>
  
                      <div class="row">
                        <div class="col text-center">
                          <button type="button" class="btn btn-danger" onclick="editProjectHide()"><i class="fas fa-times"></i> Anuluj</button>
                          <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>                        
                        </div>
                      </div>
                  </form>
                </div>
              </div>

              <!-- DODAWANIE ZADANIA -->
            <div id="addJob">
              <div class="tab-pane fade show " role="tabpanel">
                <form action="addingJob" method="POST">
                  <div class="row asset-name">
                      <div class="col text-center">
                          <h2>Dodawanie zadania</h2>
                          <p>Podaj dane zadania</p>
                      </div>
                  </div>
                  <input type="hidden" id="projectIdJob" name="projectIdJob" value="">
                  <input type="text" class="form-control formItem" id="nameJob" name="nameJob" placeholder="Nazwa zadania" required>

                  <div class="row">
                    <div class="col text-center">
                    Wybierz status zadania:
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="col text-center">
                    <% for(var i=0; i < statuses.length; i++) { %>
                      <label class="radio-inline"><input type="radio" name="status" value="<%=statuses[i].IdStatus%>" required><%=statuses[i].Nazwa%></label>
                    <%}%>                      
                    </div>
                  </div>

                  <div class="row">
                    <div class="col text-center">
                    Wybierz priorytet zadania:                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                    <% for(var i=0; i < priority.length; i++) { %>
                      <label class="radio-inline"><input type="radio" name="priority" value="<%=priority[i].IdPriorytet%>" required><%=priority[i].Nazwa%></label>
                    <%}%>                          
                    </div>
                  </div>

              
                    <div class="col text-center">
                  <label for="realizationDate">Data realizacji:</label>
                  <input type="date" class="form-control formItem" name="realizationDate" id="realizationDate" placeholder="Data realizacji" required>                      
                  </div>


                  <select class="form-control formItem" placeholder="Pracownik" name="workerJob" id="workerJob" required>
                       <option value="" selected disabled>Przypisz pracownika do tego zadania</option>
                        <% for(var i=0; i < workers.length; i++) { %>
                          <option value="<%=workers[i].IdPracownik%>"><%=workers[i].Imie %> <%=workers[i].Nazwisko %></option>
                        <%}%>
                    </select>

                    <textarea class="form-control formItem" rows="10" id="descriptionJob" name="descriptionJob" placeholder="Opis" required></textarea>

                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <button type="button" onclick="addJobHide()" class="btn btn-danger"><i class="fas fa-times"></i> Anuluj</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
              


            <!-- DODAWANIE KLIENTA -->
                <div id="clientPanel">
                    <div class="tab-pane fade show " role="tabpanel">
                    <div class="row asset-name">
                        <div class="col text-center">
                            <h2>Dodawanie klienta</h2>

                            <form action="addClient" method="POST">
                              <div class="row">
                                <div class="col-lg-10">
                                    <select class="form-control formItem" placeholder="Firma" name="company" id="company">
                                        <option value="" selected disabled>Wybierz firmę, którą reprezentuje klient</option>
                                        <% for(var i=0; i < company.length; i++) { %>
                                            <option value="<%=company[i].IdFirma %>"><%=company[i].Nazwa %>, nip: <%=company[i].Nip %></option>
                                          <%}%>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                  <button type="button" class="btn btn-success" onclick="addCompanyShow()"><i class="fas fa-plus"></i> Dodaj firmę</button>
                                </div>
                              </div>

                                    <input type="text" class="form-control formItem" id="firstName" name="firstName" placeholder="Imię przedstawiciela" required>
                                    <input type="text" class="form-control formItem" id="lastName" name="lastName" placeholder="Nazwisko przedstawiciela" required>
                                    <input type="tel" class="form-control formItem" id="tel" name="tel"placeholder="Numer kontaktowy" required>
                                    <input type="email" class="form-control formItem" id="email" name="email"placeholder="Email" required>
                                    
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <button type="button" class="btn btn-danger" onclick="addClientHide()"><i class="fas fa-times"></i> Anuluj</button>
                                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
        

                <%if(jobView == 1){%>
                  <input type="hidden" id="ifViewJob">
                  
                  <% include partials/productionJob %>
                <%}%>


            <!-- DODAWANIE FIRMY -->
            <div id="addCompany">
                <div id="myModal" class="modal">
                  <div class="modal-content">
                      <h3>Dodaj firmę</h3>
                      <p>Podaj informacje niezbędne do dodania nowej firmy</p>
                      
                      <form action="addCompany" method="POST">
                        <input type="text" class="form-control formItem" id="nameCompany" name="nameCompany" placeholder="Nazwa" required>
                        <input type="number" min="0" class="form-control formItem" id="nipCompany" name="nipCompany" placeholder="NIP" required>
                        <input type="text" class="form-control formItem" id="addressCompany" name="addressCompany" placeholder="Adres" required>
                        <input type="text" onkeypress="return isNumericKey(event)" class="form-control formItem" id="townCompany" name="townCompany" placeholder="Miasto" required>
                        
                        <div class="row">
                          <div class="col text-center">
                            <button type="button" class="btn btn-danger" onclick="addCompanyHide()"><i class="fas fa-times"></i> Anuluj</button>
                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>
                          </div>

                        </div>
                        <input type="hidden" name="ifProduction" value=1>
                      </form>
                  </div>
                  </div>
                </div>


                <!-- DODAWANIE KATEGORII -->
                <div id="addCategory">
                    <div id="myModal" class="modal">
                      <div class="modal-content">
                          <h3>Dodaj kategorię</h3>
                          <p>Podaj informacje niezbędne do dodania nowej kategorii projektu</p>
                          
                          <form action="addCategory" method="POST">
                            <input type="text" class="form-control formItem" id="nameCategory" name="nameCategory" placeholder="Nazwa kategorii" required>                            
                            <div class="row">
                              <div class="col text-center">
                                <button type="button" class="btn btn-danger" onclick="addCategoryHide()"><i class="fas fa-times"></i> Anuluj</button>
                                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>
                              </div>
    
                            </div>
                            
                          </form>
                      </div>
                      </div>
                    </div>

                    <%if(addCompanyFailed != 0){%>
                      <div id="" class="modal">
                          <div class="modal-content">
                              <h3>Uwaga!</h3>
                              <%= addCompanyFailed %>
                      
                              <form action="production" method="GET">
                                  <button type="submit" class="btn btn-danger">Ok</button>
                              </form>
                          </div>
                      </div>
                      <% } %>

                      <%if(addCategoryFailed != 0){%>
                        <div id="" class="modal">
                            <div class="modal-content">
                                <h3>Uwaga!</h3>
                                <%= addCategoryFailed %>
                        
                                <form action="production" method="GET">
                                    <button type="submit" class="btn btn-danger">Ok</button>
                                </form>
                            </div>
                        </div>
                        <% } %>

                        <%if(addProjectFailed != 0){%>
                          <div id="" class="modal">
                              <div class="modal-content">
                                  <h3>Uwaga!</h3>
                                  <%= addProjectFailed %>
                          
                                  <form action="production" method="GET">
                                      <button type="submit" class="btn btn-danger">Ok</button>
                                  </form>
                              </div>
                          </div>
                          <% } %>
                  </div>
        </div>
    </div>
   

    </div>
  </div>

    <!-- SCRIPT ENGINE -->
<script type="text/javascript" src="scripts/production.js"></script>

<% include partials/footer %>