<% include partials/headerLogin %>
<% include partials/leftNavbar %>

<div class="col-11">
<div class="section-profile">
<h2>Twój profil</h2>
    <p>Aby zapisać nowe informacje, musisz nacisnąć "Zapisz", przy edytowanej pozycji.</p>

    <div class="panel-body">
        <div class="row">
            <div class="table-responsive ">
                <table class="table table-user-information">
                    <form action="editUser" method="POST">
                    <tbody>
                        <tr>
                            <td>Imię:</td>
                            <td>
                                <%= name %>
                            </td>
                            <td>
                                <input type="text" class="newForm form-control form" name="newName" placeholder="Nowe imię">
                            </td>
                        </tr>
                        <tr>
                            <td>Nazwisko:</td>
                            <td>
                                <%= lastName %>
                            </td>
                            <td>
                                <input type="text" class="newForm form-control form" name="newLastName" placeholder="Nowe nazwisko">
                            </td>
                        </tr>
                        <tr>
                            <td>Login</td>
                            <td>
                                <%= login %>
                            </td>
                            <td>
                                <input type="text" class="newForm form-control form" name="newLogin" placeholder="Nowy login">
                            </td>
                        </tr>

                        <tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <%= email %>
                            </td>
                            <td>
                                <input type="email" class="newForm form-control form" name="newEmail" placeholder="Nowy email">
                            </td>
                        </tr>
                        <tr>
                                <td>Firma</td>
                                <td>
                                    <%= company %>
                                </td>
                                <td>
                                    <input type="email" class="newForm form-control form" name="newCompany" placeholder="Nowa nazwa firmy" disabled>
                                </td>
                            </tr>

                    </tbody>
                </form>
                </table>
                </div>
                </div>
                <div class="rowSaveChanges">
                    <button type="submit" class="btn btn-success saveChangesProfile"><i class="fa fa-save"> </i> Zapisz zmiany</button>
                </div>
         

            </div>
        </div>
    </div>
<% include partials/footerLogin %>